@using CustomerPortal.Web
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - TaxiHail Customer Portal</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bundles/bootstrap/less")
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                
                    <div class="container">
                    
                    
                        <a class="brand" href="/">TaxiHail Customer Portal</a>
                        <section class="pull-right">
                            @Html.Partial("_LoginStatusPartial")
                        </section>
                    </div>
                    @if (User.IsInRole(RoleName.Admin))
                    {
                    <div class="container">
                    		<a href='@Url.Action("index", "Home")'>Company list</a>
				            |
				            <a href='@Url.Action("Create")'>New Company</a>
				            |
				            <a href='@Url.Action("Index", "Membership")'>Manage Users</a>
				            |
				            <a href="@Url.Action("Index", "Deployment")">Deployment</a>
				            |
				            <a href="@Url.Action("Index", "Payment")">Payment</a>
				            |
				            <a href='@Url.Action("Index", "NetworkVehicles")'>Network Vehicles</a>
				            |
				            <a href="@Url.Action("RefreshVersions")">Refresh Versions</a>
				            |
				            <a href="@Url.Action("Index","StoreCredential")">Store Credentials</a>
				            |
				            <a href="@Url.Action("Index","CheckList")">Checklist</a>
				      </div>
				     }
                </div>
            </div>
            <div >
                @if (TempData["message"] != null)
                {
                    <div style="color: forestgreen">@TempData["message"]</div>
                }

                @if (TempData["warning"] != null)
                {
                    <div style="color: firebrick">@TempData["warning"]</div>
                }
            </div>
        
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap/js")

        @RenderSection("scripts", false)
    </body>
</html>