@using CustomerPortal.Web
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - TaxiHail Customer Portal</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bundles/bootstrap/less")
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"> </script>
        <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/GridPagination.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#">TaxiHail Customer Portal</a>
                        <section class="pull-right">
                            @Html.Partial("_LoginStatusPartial")
                        </section>
                    </div>
                    @if (User.IsInRole(RoleName.Admin))
                    {
                        <div class="container" style="height:40px">
                            <a href='@Url.Action("index", "Home")' class="btn">Company list</a>
                            <a href="@Url.Action("Index", "CompanyServerStatus")" class="btn">Service status</a>
                            <a href='@Url.Action("Create")' class="btn">New Company</a>
                            <a href='@Url.Action("Index", "Membership")' class="btn">Users</a>
                            <a href="@Url.Action("Index", "Deployment")" class="btn">Deployment</a>
                            <a href="@Url.Action("Index", "Payment")" class="btn">Payment</a>
                            <a href='@Url.Action("Index", "Markets")' class="btn">Markets</a>
                            <a href="@Url.Action("Index","StoreCredential")" class="btn">Store Credentials</a>
                            <a href="@Url.Action("Index", "CheckList")" class="btn">Checklist</a>
                            
                            <br />
                        </div>
                    }
                </div>
            </div>
            <div style="width: 980px;">

                <div>
                    @if (TempData["message"] != null)
                    {
                        <div style="color: forestgreen">@TempData["message"]</div>
                    }

                    @if (TempData["warning"] != null)
                    {
                        <div style="color: firebrick">@TempData["warning"]</div>
                    }
                </div>

                @RenderBody()
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap/js")

        @RenderSection("scripts", false)
    </body>
</html>