<div class="row" >
    <div class="span6">
        <div class="well">
            <h4>Thriev</h4>
            
            <div class="errors" style="margin-top: 10px;"></div>
            <form class="form-horizontal clearfix" id="updateBookingSettingsForm">
              
              <div class="control-group">
                <label class="control-label" for="inputTime">{{localize "Pickup Time"}}</label>
                <div class="controls">
                  {{#if pickupDate}}
                  <label class='input-block-level'  id="inputTime">{{niceDateAndTime pickupDate}}</label>
                  {{else}}
                  <label class='input-block-level'  id="inputTime">{{localize "Now"}}</label>
                  {{/if}}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPickup">{{localize "Pickup"}}</label>
                <div class="controls">
                  <label id="inputPickup" class='input-block-level'>{{pickupAddress.fullAddress}}</label>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputDestination">{{localize "Destination"}}</label>
                <div class="controls">
                  <label id="inputDestination" data-dropoff class='input-block-level'>{{dropOffAddress.fullAddress}}</label>
                </div>
              </div>
              <div class="control-group" data-popover data-placement="left">
                <label class="control-label" for="inputEstimate">{{localize "Estimated Fare"}}</label>
                <div class="controls">
                  <label id="inputEstimate" class='input-block-level'><span class='distance'>{{distanceEstimate}} - </span><span>{{priceEstimate}}</span></label>
                </div>
              </div>
              <br/>
                <div class="control-group">
                    <label class="control-label" for="inputLargeBags">{{localize "Large Bags"}}</label>
                    <div class="controls">
                        <input type="text"  id="inputLargeBags" name="settings.largeBags" value="{{settings.largeBags}}" class='span1'>
                    </div>
                </div>
                
               <div class="control-group">
                    <label class="control-label" >{{localize "Vehicle Type"}}</label>
                    <div class="controls">
                        <select name="settings.vehicleTypeId" class='input-block-level'>
                            {{#each vehiclesList}}
                            {{#ifCond this.id ../settings.vehicleTypeId}}
                            <option value="{{this.id}}" selected>{{this.display}}</option>
                            {{else}}
                            <option value="{{this.id}}">{{this.display}}</option>
                            {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>


                <div class="control-group" style='clear:both;'>
                    <label class="control-label" for="inputChargeType">{{localize "Charge Type"}}</label>
                    <div class="controls">
                        <select id="inputChargeType" name="settings.chargeTypeId" class='input-block-level'>
                            {{#each paymentsList}}
                                {{#ifCond this.id ../settings.chargeTypeId}}
                                    <option value="{{this.id}}" selected>{{this.display}}</option>
                                {{else}}
                                    <option value="{{this.id}}">{{this.display}}</option>
                                {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="inputNotes">{{localize "Notes"}}</label>
                    <div class="controls">
                        <input type="text" id="inputNotes" name="note" placeholder="Notes" class='input-block-level'>
                    </div>
                </div>
                <div class="control-group btn-right-alignment">
                  <button type='submit' class='btn btn-primary  span' data-loading-text="{{localize 'Loading'}}">{{localize "Book Now!"}}</button>
                  <a href='#' class='btn  span' data-action='cancel'>{{localize "Cancel"}}</a>
                </div>
            </form>

        </div>
    </div>
</div>
