@model CustomerPortal.Web.Areas.Admin.Models.ChangePassword

@{
    ViewBag.Title = "Change User Password";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Model.EmailAddress</legend>
        
        @Html.HiddenFor(x => x.EmailAddress)

        @Html.HelpLabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
        
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save Changes" />
        <a class="btn btn-link" href="@Url.Action("Index", "Membership")">Back to user list</a>
    </div>
}