@using CustomerPortal.Web.Security
@using MongoDB.Bson
@model IEnumerable<ExtendedMongoMembership.MembershipAccount>

@{
    ViewBag.Title = "Users";
}


<div class='row'>
    <h2>Users</h2>
    <div class='span12'>
        <p>
            <a class="btn" href='@Url.Action("Create")'>Create user</a>
        </p>
    </div>
    <div class="span12">
        <table class="table table-striped table-condensed">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Company Id</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Delete</th>
            </tr>
            @foreach (var account in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Edit", new {id = account.UserId})">@account.UserName</a></td>
                    <td>@account.GetValue("Name", default(BsonString))</td>
                    <td>@account.GetValue("Company", default(BsonString))</td>
                    <td>@string.Join(", ", account.Roles.Select(x => x.RoleName))</td>
                    
                    <td>
                        <a class="btn" href="@Url.Action("ChangePassword", new {id = account.UserId})">Password</a>                        

                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new {id = account.UserId})">
                            <img src="~/Images/delete.png" width="20" />
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>