@model List<CustomerPortal.Contract.Resources.CompanyPreference>
   
<div id="validationPanel" class="alert-success alert" style="display: none" > </div>
       
@using (Html.BeginForm("Index", "TaxiHailNetwork", FormMethod.Post, new { id = "taxiHailNetworkForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (Model.Count >0 )
    {
        <table class="table table-striped">
            <tr>
                <th>Company Name</th>
                <th>Can Accept</th>
                <th>Can Dispatch</th>
            </tr>
            @foreach (var company in Model)
            {
            
                <tr>
                    <td>
                        @company.CompanyKey
                        @Html.Hidden("idKey_" + company.CompanyKey, company.CompanyKey)
                    </td>
                    <td>
                        @Html.CheckBox("acceptKey_" + company.CompanyKey, company.CanAccept)
                    </td>
                    <td>
                        @Html.CheckBox("dispatchKey_" + company.CompanyKey, company.CanDispatch)
                    </td>
                </tr>
            }
        </table>

        <a href="javascript:void(0)" type="submit" class="btn btn-primary" onclick=" save()">Save</a>
    }
    else
    {
        <h4>You don't have any companies within your Network</h4>
    }
}

        <script type="text/javascript">


            function displayValidationMessage(control, message, valid) {
                var html = ' <button type="button" id="validationClose" class="close" data-dismiss="alert" onclick="this.parentNode.style.display=\'none\'">&times;</button>';
                if (valid) {
                    if (control.hasClass("alert-danger")) {
                        control.removeClass("alert-danger");
                    }
                    control.addClass("alert-success");
                } else {
                    if (control.hasClass("alert-success")) {
                        control.removeClass("alert-success");
                    }
                    control.addClass("alert-danger");
                }

                control.html(html + message);
                control.css("display", "block");
                setTimeout(function () { control.css("display", "none") }, 2000);
            }

            function save() {
                var form = $('#taxiHailNetworkForm');
                var panel = $('#validationPanel');

                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {

                        displayValidationMessage(panel, response.Message, response.Success);
                    }
                });
            }
        </script>
