@model List<CustomerPortal.Contract.Resources.CompanyPreference>
          
@using (Html.BeginForm("Index", "TaxiHailNetwork", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="table table-striped">
        <tr>
            <th>CompanyId</th>
            <th>CanAccept</th>
            <th>CanDispatch</th>
        </tr>
        @{ int i = 1; }
        @foreach (var company in Model)
        {
            <tr>
                <td>
                    @company.CompanyId
                    @Html.Hidden("idKey_"+company.CompanyId,company.CompanyId)
                </td>
                <td>
                    @Html.CheckBox("acceptKey_" + company.CompanyId, company.CanAccept)
                </td>
                <td>
                    @Html.CheckBox("dispatchKey_" + company.CompanyId, company.CanDispatch)
                </td>
            </tr>
            i = i + 1;
        }
    </table>


    <input type="submit" class="btn btn-primary" value="Save" />
}
