@using apcurium.MK.Common.Enumeration
@using CustomerPortal.Web.Areas.Admin.Models
@using CustomerPortal.Web.Properties
@model CustomerPortal.Web.Entities.Network.Market

<h2>Edit Receipt labels</h2>

@if (@ViewBag.Error != null)
{
    <div class="alert alert-error" style="margin-top: 10px;">@ViewBag.Error</div>
}

@using (Html.BeginForm("EditReceiptLabels", "Markets", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Name)
    <div class="control-group">
        @{
            var e = Enum.GetValues(typeof(SupportedLanguages)).Cast<SupportedLanguages>();
            var languages = e.Select(enumValue => enumValue.ToString()).ToList();
        }
        <table>
            <tbody>
                <tr>
                    <td></td>
                    @foreach (var language in languages)
                    {
                        <td>
                            <label>
                                @Resources.ResourceManager.GetString(language)
                            </label>
                        </td>
                    }
                </tr>
                @foreach (var receiptLine in Model.ReceiptLines)
                {
                    <tr>
                        <td>
                            <label>
                                @Resources.ResourceManager.GetString(receiptLine.Key)
                            </label>
                        </td>

                        @foreach (var language in languages)
                        {
                            <td>
                                @Html.TextBoxFor(m => m.ReceiptLines[receiptLine.Key][language])
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="control-group btn-right-alignment">
        <button type="submit" class="btn btn-primary span">Save Changes</button>
        @Html.ActionLink("Cancel", "CancelReceiptEdition", Model, new { @class = "btn span" })
    </div>
}