@using CustomerPortal.Web.Areas.Admin.Models
@model MarketModel

<h2>Market @Model.Market Configuration</h2>

<div class='row'>
    <div class='span12'>
        <h4>Dispatcher Settings</h4>
        <p>
            <a class="btn" href='@Url.Action("EditDispatcherSettings", new {Model.Market})'>Edit Dispatcher Settings</a>
        </p>
    </div>
    <div class="span12">
        <h5>Dispatcher Settings</h5>
        <table class="table table-striped">
            <tr>
                <th title="@Html.DisplayDescriptionFor(x => x.DispatcherSettings.NumberOfOffersPerCycle)">
                    @Html.DisplayNameFor(x => x.DispatcherSettings.NumberOfOffersPerCycle)
                </th>
                <th>@Html.DisplayNameFor(x => x.DispatcherSettings.NumberOfCycles)</th>
                <th>@Html.DisplayNameFor(x => x.DispatcherSettings.DurationOfOfferInSeconds)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(x => x.DispatcherSettings.NumberOfOffersPerCycle)</td>
                <td>@Html.DisplayFor(x => x.DispatcherSettings.NumberOfCycles)</td>
                <td>@Html.DisplayFor(x => x.DispatcherSettings.DurationOfOfferInSeconds)</td>
            </tr>
        </table>
    </div>
</div>

<div class='row'>
    <div class='span12'>
        <h4>Vehicle types</h4>
        <p>
            <a class="btn" href='@Url.Action("CreateVehicle", new {Model.Market})'>Add Vehicle Type</a>
        </p>
    </div>
    <div class="span12">
        <h5>Vehicle Types</h5>
        <table class="table table-striped">
            @foreach (var vehicleType in Model.Vehicles)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("EditVehicle", new {id = vehicleType.Id, market = Model.Market})">@vehicleType.Name</a>

                    </td>
                    <td>
                        @Html.ActionLink(
                            "Delete",
                            "DeleteVehicle",
                            new {id = vehicleType.Id, market = Model.Market},
                            new {@class = "btn span btn-danger", @onclick = "return confirm('Are you sure you wish to delete this vehicle type?');"})
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@using (Html.BeginForm("SaveSettings", "Markets", FormMethod.Post))
{
    <div class='row'>
        <div class="span12">
            @Html.HiddenFor(x => x.Market)

            <h4>Driver Bonus</h4>

            <h5>Enable Driver Bonus</h5>

            @Html.DropDownList(
            "EnableDriverBonus",
            new[]
            {
                new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.EnableDriverBonus},
                new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.EnableDriverBonus }
            },
            new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Enable Future Booking</h5>

            @Html.DropDownList(
            "EnableFutureBooking",
            new[]
            {
                new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.EnableFutureBooking},
                new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.EnableFutureBooking }
            },
            new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Cancel Order On Unpair</h5>

            @Html.DropDownList(
            "CancelOrderOnUnpair",
            new[]
            {
                new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.CancelOrderOnUnpair},
                new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.CancelOrderOnUnpair }
            },
            new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Receipt Footer</h5>
            @Html.TextBoxFor(x => x.ReceiptFooter, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })


            <h4>Ride Estimates</h4>

            <h5>Enable app ride estimates</h5>
            @Html.DropDownList(
            "EnableAppFareEstimates",
            new[]
            {
              new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.EnableAppFareEstimates},
              new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.EnableAppFareEstimates}
            },
            new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            
            <h5>Minimum Rate</h5>
            @Html.TextBoxFor(x => x.MinimumRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Flat Rate</h5>
            @Html.TextBoxFor(x => x.FlatRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Per KM Rate</h5>
            @Html.TextBoxFor(x => x.KilometricRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Per Minute Rate</h5>
            @Html.TextBoxFor(x => x.PerMinuteRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Kilometer Included in Flat Rate</h5>
            @Html.TextBoxFor(x => x.KilometerIncluded, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Overhead (%)</h5>
            @Html.TextBoxFor(x => x.MarginOfError, new { @class = "input-block-level", @style = "width:250px; margin-right:15px"})
        </div>
    </div>

    <br/>
    <div class="control-group">
        <button type="submit" class="btn btn-primary span">Save Changes</button>
        @Html.ActionLink("Back", "Index", null, new { @class = "btn span" })
    </div>
}
