@using CustomerPortal.Web.Areas.Admin.Models
@model MarketModel

<h2>Market @Model.Market Configuration</h2>

<div class='row'>
    <div class='span12'>
        <legend>Dispatcher Settings</legend>
        <p>
            <a class="btn" href='@Url.Action("EditDispatcherSettings", new {Model.Market})'>Edit Dispatcher Settings</a>
        </p>
    </div>
    <div class="span12">
        <h5>Dispatcher Settings</h5>
        <table class="table table-striped">
            <tr>
                <th title="@Html.DisplayDescriptionFor(x => x.DispatcherSettings.NumberOfOffersPerCycle)">
                    @Html.DisplayNameFor(x => x.DispatcherSettings.NumberOfOffersPerCycle)
                </th>
                <th>@Html.DisplayNameFor(x => x.DispatcherSettings.NumberOfCycles)</th>
                <th>@Html.DisplayNameFor(x => x.DispatcherSettings.DurationOfOfferInSeconds)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(x => x.DispatcherSettings.NumberOfOffersPerCycle)</td>
                <td>@Html.DisplayFor(x => x.DispatcherSettings.NumberOfCycles)</td>
                <td>@Html.DisplayFor(x => x.DispatcherSettings.DurationOfOfferInSeconds)</td>
            </tr>
        </table>
    </div>
</div>

<div>
    <legend>Vehicle types</legend>
    <p>
        <a class="btn" href='@Url.Action("CreateVehicle", new {Model.Market})'>Add Vehicle Type</a>
    </p>
</div>
<div>
    <table class="table table-striped">
        @foreach (var vehicleType in Model.Vehicles)
        {
            <tr>
                <td>
                    <a href="@Url.Action("EditVehicle", new {id = vehicleType.Id, market = Model.Market})">@vehicleType.Name</a>

                </td>
                <td>
                    @Html.ActionLink(
                        "Delete",
                        "DeleteVehicle",
                        new {id = vehicleType.Id, market = Model.Market},
                        new {@class = "btn span btn-danger", @onclick = "return confirm('Are you sure you wish to delete this vehicle type?');"})
                </td>
            </tr>
        }
    </table>
</div>


@using (Html.BeginForm("SaveSettings", "Markets", FormMethod.Post))
{
    <legend>Settings</legend>
    <fieldset>
        <h4>
            @Html.DisplayNameFor(x => x.Region)
        </h4>
        <div id="map-canvas" style="height: 400px; width: 800px"></div>
        <br/>
        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td>@Html.LabelFor(x => x.Region.CoordinateStart.Latitude)</td>
                    <td>@Html.LabelFor(x => x.Region.CoordinateStart.Longitude)</td>
                </tr>
                <tr class="editor-coordinate-field">
                    <td>@Html.LabelFor(x => x.Region.CoordinateStart)</td>
                    <td>@Html.TextBoxFor(x => x.Region.CoordinateStart.Latitude, new { id = "StartLatitude", placeholder = "Latitude", oninput = "coordinatesChanged()" })</td>
                    <td>@Html.TextBoxFor(x => x.Region.CoordinateStart.Longitude, new { id = "StartLongitude", placeholder = "Longitude", oninput = "coordinatesChanged()" })</td>
                </tr>
                <tr class="validation-message">
                    <td></td>
                    <td>@Html.ValidationMessageFor(x => x.Region.CoordinateStart.Latitude, "", new { style = "top: 0" })</td>
                    <td>@Html.ValidationMessageFor(x => x.Region.CoordinateStart.Longitude, "", new { style = "top: 0" })</td>
                </tr>
                <tr class="editor-coordinate-field">
                    <td>@Html.LabelFor(x => x.Region.CoordinateEnd)</td>
                    <td>@Html.TextBoxFor(x => x.Region.CoordinateEnd.Latitude, new { id = "EndLatitude", placeholder = "Latitude", oninput = "coordinatesChanged()" })</td>
                    <td>@Html.TextBoxFor(x => x.Region.CoordinateEnd.Longitude, new { id = "EndLongitude", placeholder = "Longitude", oninput = "coordinatesChanged()" })</td>
                </tr>
                <tr class="validation-message">
                    <td></td>
                    <td>@Html.ValidationMessageFor(x => x.Region.CoordinateEnd.Latitude, "", new { style = "top: 0" })</td>
                    <td>@Html.ValidationMessageFor(x => x.Region.CoordinateEnd.Longitude, "", new { style = "top: 0" })</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <div class='row'>
        <div class="span12">
            @Html.HiddenFor(x => x.Market)
            
            <h4>Book Settings</h4>

            <h5>Enable Driver Bonus</h5>
            @Html.DropDownListFor(
            x => x.EnableDriverBonus,
            new[]
            {
                new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.EnableDriverBonus},
                new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.EnableDriverBonus }
            },
            new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })

            <h5>Future Booking</h5>

            <h6>Enable</h6>
            @Html.DropDownListFor(
                x => x.EnableFutureBooking,
                new[]
                {
                    new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.EnableFutureBooking},
                    new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.EnableFutureBooking }
                },
                new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            
            <h6 title="Company to dispatch to in case of future booking">Reservation Provider</h6>
            @Html.DropDownListFor(
                x => x.FutureBookingReservationProvider,
                Model.CompaniesOrMarket,
                new { @class = "input-block-level", @style = "width:380px; margin-right:15px" })

            <h6 title="Time after it's considered a future booking'">Time Threshold (minutes)</h6>
            @Html.TextBoxFor(x => x.FutureBookingTimeThresholdInMinutes, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            @Html.ValidationMessageFor(x => x.FutureBookingTimeThresholdInMinutes)

            <h5>Disable Out Of App Payment</h5>
            <span>If true, unpairing during a ride will cancel the order</span>
            @Html.DropDownListFor(
            x => x.DisableOutOfAppPayment,
            new[]
            {
                new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.DisableOutOfAppPayment},
                new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.DisableOutOfAppPayment }
            },
            new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            <br/>

            <h4>Receipt Footer</h4>
            @Html.TextBoxFor(x => x.ReceiptFooter, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            <br/>
            <br />

            <h4>Ride Estimates</h4>
            <span> This section will control the app fare estimates when a app connect to this market during roaming (Arro connects to Chicago for instance).</span> 
            <br/>
            <span> This override will be ignored when in local markets. </span>

            <h5>Override app fare estimates</h5>
            @Html.DropDownListFor(
            x => x.EnableAppFareEstimates,
            new[]
            {
              new SelectListItem { Text = "Yes", Value = bool.TrueString, Selected = @Model.EnableAppFareEstimates},
              new SelectListItem { Text = "No", Value = bool.FalseString, Selected = !@Model.EnableAppFareEstimates}
            },
            new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            
            <h5>Minimum Rate</h5>
            @Html.TextBoxFor(x => x.MarketTariff.MinimumRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            @Html.ValidationMessageFor(x => x.MarketTariff.MinimumRate)

            <h5>Flat Rate</h5>
            @Html.TextBoxFor(x => x.MarketTariff.FlatRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            @Html.ValidationMessageFor(x => x.MarketTariff.FlatRate)

            <h5>Per KM Rate</h5>
            @Html.TextBoxFor(x => x.MarketTariff.KilometricRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            @Html.ValidationMessageFor(x => x.MarketTariff.KilometricRate)

            <h5>Per Minute Rate</h5>
            @Html.TextBoxFor(x => x.MarketTariff.PerMinuteRate, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            @Html.ValidationMessageFor(x => x.MarketTariff.PerMinuteRate)

            <h5>Kilometer Included in Flat Rate</h5>
            @Html.TextBoxFor(x => x.MarketTariff.KilometerIncluded, new { @class = "input-block-level", @style = "width:250px; margin-right:15px" })
            @Html.ValidationMessageFor(x => x.MarketTariff.KilometerIncluded)

            <h5>Overhead (%)</h5>
            @Html.TextBoxFor(x => x.MarketTariff.MarginOfError, new { @class = "input-block-level", @style = "width:250px; margin-right:15px"})
            @Html.ValidationMessageFor(x => x.MarketTariff.MarginOfError)
        </div>
    </div>
    
    <br/>
    <div class="control-group">
        <button type="submit" class="btn btn-primary span">Save Changes</button>
        @Html.ActionLink("Back", "Index", null, new { @class = "btn span" })
    </div>
    <br/>
}

<script type="text/javascript">

    var map;
    var mapRegion;

    function initialize() {
        map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 8,
            center: new google.maps.LatLng(45.514466, -73.846313),
            disableDefaultUI: true
        });
        coordinatesChanged();
        addOtherMarketRegions();
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function addOtherMarketRegions() {
        @foreach (var otherMarket in Model.OtherMarkets)
        {
            if (otherMarket.Region != null
                && otherMarket.Region.CoordinateStart != null
                && otherMarket.Region.CoordinateEnd != null
                && otherMarket.Region.CoordinateStart.Latitude != 0
                && otherMarket.Region.CoordinateStart.Longitude != 0
                && otherMarket.Region.CoordinateEnd.Latitude != 0
                && otherMarket.Region.CoordinateEnd.Longitude != 0)
            {
                <text>
                new google.maps.Rectangle({
                    strokeColor: '#00FF00',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#00FF00',
                    fillOpacity: 0.35,
                    map: map,
                    bounds: new google.maps.LatLngBounds(
                       new google.maps.LatLng(@otherMarket.Region.CoordinateStart.Latitude, @otherMarket.Region.CoordinateStart.Longitude),
                       new google.maps.LatLng(@otherMarket.Region.CoordinateEnd.Latitude, @otherMarket.Region.CoordinateEnd.Longitude))
                });

                new MapLabel({
                    text: '@otherMarket.Name',
                    position: new google.maps.LatLng(@otherMarket.Region.CoordinateEnd.Latitude, @otherMarket.Region.CoordinateStart.Longitude),
                    map: map,
                    fontSize: 25,
                    align: 'left',
                    minZoom: 5
                });
                </text>
            }
        }
    }

    function coordinatesChanged() {
        var startLat = $('#StartLatitude').val();
        var startLon = $('#StartLongitude').val();
        var endLat = $('#EndLatitude').val();
        var endLon = $('#EndLongitude').val();

        var bounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(startLat, startLon),
                new google.maps.LatLng(endLat, endLon));

        if (mapRegion) {
            mapRegion.setBounds(bounds);
        } else {
            mapRegion = new google.maps.Rectangle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map,
                bounds: bounds
            });
        }

        map.fitBounds(bounds);
    }
</script>