@using CustomerPortal.Web.Areas.Admin.Models
@using CustomerPortal.Web.Entities
@using GridMvc.Html
@using GridMvc.Sorting
@model AddDeploymentJobModel
@{
    ViewBag.Title = "Add Deployment";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml"; 
}

<h3>Add Deployment : @Model.Title   </h3>
<br />
<div id="ul-wrapper">
    
    @using (Html.BeginForm())
    {
        if (Model.Type != DeploymentJobType.ServerPackage)
        {
            <div id="companiesDropdown">
                @Html.LabelFor(m => m.ModelForView.Company)    
                @Html.DropDownListFor(m => m.CompanyId, Model.ModelForView.Company, "-- select --")
                (<a href="#" id="displayAllCompaniesTableLabel">Show all</a>)
            </div>
        
            <div id="companiesTable" hidden="hidden">
                (<a href="#" id="hideAllCompaniesTableLabel">Collapse List</a>)
                @Html.Grid(Model.ModelForView.CompanyDetails).Named("ordersGrid").Columns(column =>
                {
                    column.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(c => Html.CheckBox("checkbox_" + c.CompanyKey, false, new { @class = "checkbox" }));
                    column.Add(c => c.CompanyDisplayName)
                        .Titled("Company")
                        .Filterable(true)
                        .Sortable(true);
                    column.Add(c => c.LastKnownStagingVersion)
                        .Titled("Staging Version")
                        .Filterable(true)
                        .Sortable(true);
                    column.Add(c => c.LastKnownProductionVersion)
                        .Titled("Production Version")
                        .Filterable(true)
                        .Sortable(true);
                    column.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(100)
                        .RenderValueAs(c => Html.Label(string.Empty));
                }).Selectable(false)
            </div>
        }
        <div>
            @Html.LabelFor(m => m.ModelForView.Environment)
            @Html.DropDownListFor(m => m.ServerId, Model.ModelForView.Environment, "-- select --", new {data_server_select = ""})
        </div>
        <div>
            @Html.LabelFor(m => m.ModelForView.Revision)
            @Html.DropDownListFor(m => m.RevisionId, Model.ModelForView.Revision, "-- select --")
        </div>
        if (Model.Type == DeploymentJobType.DeployClient)
        {
            <div>
                @Html.LabelFor(m => m.ServerUrl)
                @Html.RadioButtonFor(x => x.ServerUrlOptions, ServerUrlOptions.Staging) Staging
                @Html.RadioButtonFor(x => x.ServerUrlOptions, ServerUrlOptions.Production) Production
                @Html.RadioButtonFor(x => x.ServerUrlOptions, ServerUrlOptions.Dev) Dev
                @Html.RadioButtonFor(x => x.ServerUrlOptions, ServerUrlOptions.Other) Other :
         
                @Html.TextBoxFor(m => m.ServerUrl)
            </div>

            <div>
                <label>Modules</label>
               
                @Html.CheckBoxFor(m => m.Android, true) Android
                @Html.CheckBoxFor(m => m.CallBox, true) Callbox
                @Html.CheckBoxFor(m => m.IosAdhoc, true) iOS(Adhoc)
                @Html.CheckBoxFor(m => m.IosAppStore, true) iOS(AppStore)
               
                
            </div>
        }

        if (Model.Type == DeploymentJobType.DeployServer)
        {
            <div>
                <label>Options</label>
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.Database, false)
                    @Html.LabelFor(m => m.Database)
                </label>
            </div>
        }

        <div>
            @Html.HiddenFor(m => m.CreateType)
        </div>
        <br />
        <div id="button-container">
            <input type="submit" class="btn btn-primary" value="Add" id="add-button" onclick="return ProductionConfirm()" />
        
            
            <a href="@Url.Action("UpdateVersions", new { createType = Model.CreateType })" class="btn">Update Versions List</a>
            
        
            <a href="@Url.Action("Index")" class="btn btn-link">Back to deployment list</a>
            @if (!string.IsNullOrEmpty(ViewBag.MaxTag))
            {
                <div class="alert alert-warning" role="alert" style="margin-top:10px"><strong>Warning!</strong> @ViewBag.MaxTag</div>
            }
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        function ProductionConfirm() {
            if ($('#ServerId').find(":selected").text() == 'Production') {
                if (confirm("Are you sure you want to deploy on the PRODUCTION server?"))
                    return true;
                else
                    return false;
            }else {
                return true;
            }
        }

        $(function() {
            $(document).ready(function() {
                if ($.cookie('showCompanyDetails')) {
                    showCompanyDetails();
                }
            });

            $('#displayAllCompaniesTableLabel').click(function () {
                showCompanyDetails();
            });

            $('#hideAllCompaniesTableLabel').click(function () {
                hideCompanyDetails();
            });
        });

        function showCompanyDetails() {
            $('#companiesTable').show();
            $('#companiesDropdown').hide();
            $.cookie('showCompanyDetails', true);
        }

        function hideCompanyDetails() {
            $(".checkbox").removeAttr("checked");
            $('#companiesTable').hide();
            $('#companiesDropdown').show();
            $.removeCookie('showCompanyDetails');
        }
    </script>
}