@using CustomerPortal.Web.Security
@model CustomerPortal.Web.Areas.Admin.Models.DeploymentJobModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";   
}

<div style="width: 980px; overflow: hidden">
    <div style="width: 860px; float: right; padding-bottom: 20px;">
        <h4>Deployment</h4>
    </div>
</div>

@if (SecurityHelper.IsApcuriumUser)
{
    <div style="width: 100px; float: left; position: fixed">@Html.Partial("_DeployRevisionPartial")</div>
}
<div style="width: 870px; float: right">

    <div class='row'>
        <div class='span12'>
            <p>

                <h4>Deployment Queue</h4>
                @if (SecurityHelper.IsApcuriumUser)
                {
                    <a class="btn" href="@Url.Action("Clear", "Deployment")">Clear</a>
                    <a class="btn" href="@Url.Action("ForceClear", "Deployment")">Force Clear</a>
                    <a class="btn" href="@Url.Action("DefaultSettings", "Settings")">Default Settings</a>
                }
            </p>
        </div>
    </div>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Company</th>
                <th>Status</th>
                <th>Server</th>
                <th>Action</th>
                <th>Date</th>
                <th>Revision</th>
                <th>Actions</th>
            </tr>
        </thead>



        @foreach (var deploy in Model.Jobs)
        {
            <tr>
                <td> <a href="@Url.Action("Manage", "Home", new {area = "Admin" , id = deploy.Company.Id})">@deploy.Company.CompanyName</a></td>
                <td><a title="@deploy.Details" data-status data-key="@deploy.Id" href="@Url.Action("Details", new {id = deploy.Id})" class="btn btn-link">@deploy.Status</a></td>
                <td>@deploy.Server.Name</td>
                <td>@deploy.Action</td>
                <td>@deploy.Date.ToLocalTime()</td>
                <td>@deploy.Revision.Tag</td>

                <td>
                    @if (SecurityHelper.IsApcuriumUser)
                    {
                        <a href="@Url.Action("Copy", new {id = deploy.Id})">
                            <img src="~/Images/copy.png" width="20" />
                        </a>
                    }
                    <a href="@Url.Action("Index", "Version", new { area = "Admin", id = deploy.Company.Id })">
                        <img src="~/Images/download.jpg" width="20" />
                    </a>
                    @if (SecurityHelper.IsApcuriumUser)
                    {
                        <a href="@Url.Action("Index", "Settings", new {area = "Admin", id = deploy.Company.CompanyKey})">
                            <img src="~/Images/settings.jpg" width="20" />
                        </a>
                    }
                    <a href="@Url.Action("Delete", new { id = deploy.Id })">
                        <img src="~/Images/delete.png" width="20" />
                    </a>
                </td>
            </tr>
        }
    </table>
    <br />

    <div id="button-container">
        @if (SecurityHelper.IsApcuriumUser)
        {
            <a href="@Url.Action("CreateServerPackage")" class="btn btn-primary">Create server package</a>
            <a href="@Url.Action("DeployServer")" class="btn btn-primary">Deploy server</a>
            <a href="@Url.Action("DeployClient")" class="btn btn-primary">Deploy client</a>
        }
        <a href="@Url.Action("Index", "Home")" class="btn btn-link">Back to company list</a>
    </div>


</div>
@section Scripts {
    <script>

        function refresh() {
            $('[data-status]').fetchStatus();
        }

        setInterval(refresh, 3000);
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-status]').tipsy({ html: true, gravity: 'nw' });
        });
        $('[data-status]').tipsy({ html: true, gravity: 'nw' });

    </script>


}