<div class="row">
    <div class="span6">
        <div class='well well-form-actions'>
            <div class='form-horizontal'>
                <legend>{{localize "Status"}}</legend>
                <div class='clearfix'>
                    <label class="control-label">{{localize "ConfirmationNumber"}}</label>
                    <div class="controls">
                        <label>{{iBSOrderId}}</label>
                    </div>
                </div>
                <div class='clearfix'>
                    <label class="control-label">{{localize "Status"}}</label>
                    <div class="controls">
                        <label>{{iBSStatusDescription}}</label>
                    </div>
                </div>
                <div class='form-actions'>
                    <a href='#' class='btn btn-danger'  data-action='cancel'>{{localize "Cancel"}}</a>
                    <a href='tel:1 866 624 5330' class='btn btn-primary' rel='popover' data-action='call' data-placement='top' data-trigger='click'>{{localize "Call"}}</a>
                    <a href='#'  class='btn'>{{localize "New Ride"}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
