<div class="row" >
    <div class="span6">
        <div class="well">
            <h4>{{localize "Confirm Information"}}</h4>
            
            <div class="errors" style="margin-top: 10px;"></div>
            <form class="form-horizontal clearfix" id="updateBookingSettingsForm">
              
              <div class="control-group">
                <label class="control-label" for="inputTime">{{localize "Pickup Time"}}</label>
                <div class="controls">
                  {{#if pickupDate}}
                  <label class='input-block-level'  id="inputTime">{{niceDateAndTime pickupDate}}</label>
                  {{else}}
                  <label class='input-block-level'  id="inputTime">{{localize "Now"}}</label>
                  {{/if}}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPickup">{{localize "Pickup"}}</label>
                <div class="controls">
                  <label id="inputPickup" class='input-block-level'>{{pickupAddress.fullAddress}}</label>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputDestination">{{localize "Destination"}}</label>
                <div class="controls">
                  <label id="inputDestination" data-dropoff class='input-block-level'>{{dropOffAddress.fullAddress}}</label>
                </div>
              </div>
              <div class="control-group" data-popover data-placement="left">
                <label class="control-label" for="inputEstimate">{{localize "Estimated Fare"}}</label>
                <div class="controls">
                  <label id="inputEstimate" class='input-block-level'><span class='distance'>{{distanceEstimate}} - </span><span>{{formattedPrice}}</span></label>
                </div>
              </div>
              <br/>
                <div class="control-group">
                    <label class="control-label" for="inputName">{{localize "Name"}}</label>
                    <div class="controls">
                        <input type="text"  id="inputName" name="settings.name" value="{{settings.name}}" class='input-block-level'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPhone">{{localize "Phone"}}</label>
                    <div class="controls">
                        <input type="text" id="inputPhone" name="settings.phone" value="{{settings.phone}}" class='input-block-level'>
                    </div>
                </div>
                
                <div class="control-group left-control-group">
                    <label class="control-label">{{localize 'Apt No.'}}</label>
                    <div class='controls'>
                        <input type="text" id="inputApt" name="pickupAddress.apartment" placeholder="{{localize 'Apt No.'}}" value="{{pickupAddress.apartment}}" class='input-block-level'>
                    </div>
                </div>

                <div class="control-group right-control-group">
                    <label class="control-label">{{localize 'Entry Code'}}</label>
                    <div class='controls'><input type="text" id="inputRingCode" name="pickupAddress.ringCode"  placeholder="{{localize 'Entry Code'}}" value="{{pickupAddress.ringCode}}" class='input-block-level'></div>
                </div>
{{#if showPassengerNumber }}
               <div class="control-group left-control-group">
                    <label class="control-label" for="inputPassengers">{{localize "Passengers"}}</label>
                    <div class="controls">
                        <input type="text" id="inputPassengers" name="settings.passengers" value="{{settings.passengers}}" class='input-block-level'>
                    </div>
                </div>
               <div class="control-group right-control-group">
{{else}}
               <div class="control-group">
{{/if}}
                    <label class="control-label" >{{localize "Vehicle Type"}}</label>
                    <div class="controls">
                        <select name="settings.vehicleTypeId" class='input-block-level'>
                            {{#each vehiclesList}}
                            {{#ifCond this.referenceDataVehicleId ../settings.vehicleTypeId}}
                            <option value="{{this.referenceDataVehicleId}}" selected>{{this.name}}</option>
                            {{else}}
                            <option value="{{this.referenceDataVehicleId}}">{{this.name}}</option>
                            {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>


                <div class="control-group" style='clear:both;'>
                    <label class="control-label" for="inputChargeType">{{localize "Charge Type"}}</label>
                    <div class="controls">
                        <select id="inputChargeType" name="settings.chargeTypeId" class='input-block-level'>
                            {{#each paymentsList}}
                                {{#ifCond this.id ../settings.chargeTypeId}}
                                    <option value="{{this.id}}" selected>{{localize this.display}}</option>
                                {{else}}
                                    <option value="{{this.id}}">{{localize this.display}}</option>
                                {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="inputNotes">{{localize "Notes"}}</label>
                    <div class="controls">
                        <input type="text" id="inputNotes" name="note" placeholder="Notes" class='input-block-level'>
                    </div>
                </div>
                <div class="control-group btn-right-alignment">
                  <button type='submit' class='btn btn-primary  span' data-loading-text="{{localize 'Loading'}}">{{localize "Book Now!"}}</button>
                  <a href='#' class='btn  span' data-action='cancel'>{{localize "Cancel"}}</a>
                </div>
            </form>

        </div>
    </div>
</div>
