<div class="row">
    <div class="span6" id="pickup-drop-off-container">
        <div class='well'>
            <label class='lbl-large'>{{localize "Pickup location"}}</label>
            <div class='pickup-address-container'></div>
            <label class='lbl-large'>{{localize "Destination"}}</label>
            <div class='drop-off-address-container'></div>
            
            <div class='clearfix buttons'>
                <div class='estimate pull-left hidden'>
                    <span class='label'>{{localize "Estimated Fare"}}</span>
                    <span class="fare"></span>
                </div>
              <div class="control-group btn-right-alignment">
                <button type="button" class='btn btn-primary span' data-action='book'>{{localize "Book Now"}}</button>
                <button type='button' class='btn span' data-action='later'>{{localize "Book Later"}}</button>
              </div>
            </div>
            <div>
        </div>
    </div>
    <div class='span6' id="address-list-container" ></div>
</div>
