<div class="row" >
    <div class="span6">
        <div class="well clearfix">
            <div class="errors" style="margin-top: 10px;"></div>
            <form class="form-horizontal clearfix" id="accoutnChargePromptsForm">
                <div class="control-group">
                    <label class="control-label" for="inputAccountNumber">{{localize "Enter An Account Rider #"}}</label>
                    <div class="controls">
                        <input type="text"  id="inputAccountNumber" name="settings.accountNumber" value="{{settings.accountNumber}}" class='input-block-level'>                        
                    </div>
                </div>
                <div class="control-group">
                    <h4 style="text-align: left;display: none" id="title">Questions</h4>
                    <ul style="list-style-type:none;margin-left:0"></ul>
                 </div>
                <div class="control-group btn-right-alignment">
                  <button type='submit' class='btn btn-primary  span' id="btBook" data-loading-text="{{localize 'Loading'}}">{{localize "Continue"}}</button>
                  <a href='#' class='btn  span' data-action='cancel'>{{localize "modal.default.cancelButton"}}</a>
                </div>
            </form>
        </div>
    </div>
</div>
