<div class="row">
    <div class='span6'>
        <div class="well clearfix">
            <legend>{{localize "Login"}}</legend>
            <div id="alert"></div>
            <div class='errors'></div>
            <div class="control-group">
                <label class="control-label" for="login-email">{{localize "Email Address"}}</label>
                <div class="controls">
                    <input type="text" class='input-block-level' id="login-email" name="email" value="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login-password">{{localize "Password"}}</label>
                <div class="controls">
                    <input type="password" class='input-block-level' id="login-password" name="password" value="">
                </div>
            </div>
            <div class="control-group">
                <div class="controls btn-right-alignment">
                  <button type="submit" class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Login"}}</button>
                  
                  <!--a href="#" class='span' data-action='twlogin' data-loading-text="{{localize 'Loading'}}">{{localize "tw"}}</a-->
                  <a href='#signup' class='btn span' data-action='signup'>{{localize "Signup"}}</a>
                  

                </div>
              <div class="controls btn-right-alignment">
              <a href="#"><img class='span'  style='margin-top:10px;width:35px;height:35px;' data-action='fblogin' src='assets/img/facebook.png'></img></a>
                </div>
              <a href='#resetpassword' style='margin-top:10px;' class=' span'>{{localize "Forgot password"}}</a>

            </div>
        </div>
    </div>
</div>

