<a href="#" data-action='select-order'>
  <span class="location-title">{{localize "ibsOrderIdLabel"}} {{ibsOrderId}} ({{niceShortDateAndTime pickupDate}}) </span>
  <span class="location-value">{{pickupAddress.fullAddress}}</span>
  <span class="location-status">{{localize "statusLabel"}} <span class="location-status-display">{{orderStatusDisplay status}}</span> {{localize "statusClickLabel"}}</span>
</a>
