<h4 class="table-title">{{localize "Order details"}}</h4>
        <div class="infos" style="margin-top: 10px;"></div>
<div class="clearfix form-horizontal">
  <div class="control-group">
    <label class="control-label" for="labelOrderId">{{localize "ibsOrderIdLabel"}}</label>
    <div class="controls">
      <label id="labelOrderId" class='input-block-level'>{{ibsOrderId}}</label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="labelPickupTime">{{localize "Pickup Time"}}</label>
    <div class="controls">
      {{#if pickupDate}}
      <label id="labelPickupTime" class='input-block-level'>{{niceDateAndTime pickupDate}}</label>
      {{else}}
      <label id="labelPickupTime" class='input-block-level'>Now</label>
      {{/if}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="labelPickup">{{localize "Pickup"}}</label>
    <div class="controls">
      <label id="labelPickup" class='input-block-level'>{{pickupAddress.fullAddress}}</label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="labelDropOff">{{localize "Destination"}}</label>
    <div class="controls">
      <label id="labelDropOff" class='input-block-level'>{{dropOffAddress.fullAddress}}</label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="labelOrderStatus">{{localize "OrderStatus"}}</label>
    <div class="controls">
      <label id="labelOrderStatus" class='input-block-level'>{{{orderStatus.ibsStatusDescription}}</label>
    </div>
  </div>
  
  <div class="control-group btn-right-alignment " >
    <button type='button' class="btn  span btn-primary" data-action="rebook">{{localize "Rebook"}}</button>
    {{#if canPrintReceipt}}
    <button type='button' class="btn span" data-action="send-receipt" data-loading-text='{{localize "Sending..."}}'>{{localize "Send Receipt"}}</button>
    {{/if}}
    {{#if canCancel }}
    <button type='button' class="btn btn-danger span" data-action="cancel">{{localize "Cancel"}}</button>
    {{/if}}
    {{#if canDelete}}
    <button type='button' class="btn btn-danger span" data-action="remove">{{localize "Delete"}}</button>
    {{/if}}
  </div>

</div>

