<h4 class="table-title">{{localize "Payment"}}</h4>
<div class="errors"></div>
<form class="form-horizontal clearfix" id="updateSettingsForm">

    {{#if displayTipSelection}}
    <div id="tipPercentageDiv" class="control-group">
        <label class="control-label" for="inputTipPercentage">{{localize "Tip"}}</label>
        <div class="controls">
            <select id="inputTipPercentage" name="defaultTipPercent" style="margin-bottom:0;">
                {{#each tipPercentages}}
                {{#ifCond this.id ../defaultTipPercent}}
                <option value="{{this.id}}" selected>{{localize this.display}}</option>
                {{else}}
                <option value="{{this.id}}">{{localize this.display}}</option>
                {{/ifCond}}
                {{/each}}
            </select>
            <a href='#useraccount/payment' class='btn btn-primary ' data-action='savetip'>{{localize 'save'}}</a>
        </div>
    </div>
    {{/if}}

    {{#if multipleCCEnabled}}
    <div class="control-group">
        <label class="control-label">{{localize "Label"}}</label>
        <div class="controls">
            <label class="radio">
                {{localize "Personal"}}
                <input class="radio" type="radio" id="inputLabelPersonal" name="label" value="Personal" {{#ifCond label 'Personal'}} checked {{/ifCond}}/>
            </label>
            <label class="radio">
                {{localize "Business"}}
                <input class="radio" type="radio" id="inputLabelBusiness" name="label" value="Business" {{#ifCond label 'Business' }} checked {{/ifCond}}/>
            </label>
        </div>
    </div>
    {{/if}}

    <div class="control-group">
        <label class="control-label" for="inputCardName">{{localize "CreditCardName"}}</label>
        <div class="controls">
            <input type="text" id="inputCardName" name="nameOnCard" value="{{nameOnCard}}" class='input-block-level'>
        </div>
    </div>

    <div class="control-group left-half-control-group">
        <label class="control-label" for="inputCardNumber">{{localize "CreditCardNumber"}}</label>
        <div class="controls">
            <input type="text" id="inputCardNumber" name="cardNumber" value="{{cardNumber}}" class='input-block-level'>
        </div>
    </div>

    <div class="control-group right-half-control-group">
        <label class="control-label" for="inputCVV">{{localize "CVV"}}</label>
        <div class="controls">
            <input type="text" id="inputCVV" name="cvv" class='input-block-level'>
        </div>
    </div>

    <div class="control-group left-half-control-group">
        <label class="control-label" for="inputExpMonth">{{localize "ExpMonth"}}</label>
        <div class="controls">
            <select id="inputExpMonth" name="expirationMonth" class="input-block-level">
                {{#each expirationMonths}}
                {{#ifCond this.id ../expirationMonth}}
                <option value="{{this.id}}" selected>{{localize this.display}}</option>
                {{else}}
                <option value="{{this.id}}">{{localize this.display}}</option>
                {{/ifCond}}
                {{/each}}
            </select>
        </div>
    </div>

    <div class="control-group right-half-control-group">
        <label class="control-label" for="inputExpYear">{{localize "ExpYear"}}</label>
        <div class="controls">
            <select id="inputExpYear" name="expirationYear" class="input-block-level">
                {{#each expirationYears}}
                {{#ifCond this.id ../expirationYear}}
                <option value="{{this.id}}" selected>{{localize this.display}}</option>
                {{else}}
                <option value="{{this.id}}">{{localize this.display}}</option>
                {{/ifCond}}
                {{/each}}
            </select>
        </div>
    </div>

    <div class="control-group btn-right-alignment">
        <br/>
        <button type='submit' class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
        {{#if isEditing}}
        {{#if canDeleteCreditCard}}
        <a href='#' class='btn btn-danger  span' data-action='destroy'>{{localize "Delete"}}</a>
        {{/if}}
        {{/if}}
        <a href='#' class='btn span' data-action='cancel'>{{localize "Cancel"}}</a>
    </div>
    <div class="control-group btn-right-alignment">
        <br />
        {{#if isEditing}}
        {{#unless isDefault}}
        <a href='#' class='btn' data-action='setdefault'>{{localize "Default"}}</a>
        {{/unless}}
        {{/if}}
    </div>
    <div class="control-group btn-right-alignment">
        {{#ifCond isEditing false}}
        <br />
        {{/ifCond}}
        <div id="paypal-container"></div>
    </div>
</form>