<h4 class="table-title">{{localize "Edit Profile"}}</h4>
<form class="form-horizontal clearfix" id="updateSettingsForm">
    <div class="control-group">
        <label class="control-label" for="inputName">{{localize "Name"}}</label>
        <div class="controls">
            <input type="text"  id="inputName" name="name" value="{{settings.name}}" class='input-block-level'>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" >{{localize "Email"}}</label>
        <div class="controls">
            <label class='input-block-level'>{{email}}</label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputPhone">{{localize "Phone"}}</label>
        <div class="controls">
            <input type="text" id="inputPhone" name="phone" value="{{settings.phone}}" class='input-block-level'>
        </div>
    </div>

    <div class="control-group left-control-group">
        <label class="control-label" for="inputPassengers">{{localize "Passengers"}}</label>
        <div class="controls">
            <input type="text" id="inputPassengers" name="passengers" value="{{settings.passengers}}" class='input-block-level'>
        </div>
    </div>

    <div class="control-group right-control-group">
        <label class="control-label" for="inputPassengers">{{localize "Vehicle Type"}}</label>
        <div class="controls">
            <select name="vehicleTypeId" class="input-block-level">
                {{#each vehiclesList}}
                    {{#ifCond this.referenceDataVehicleId ../settings.vehicleTypeId}}
                        <option value="{{this.referenceDataVehicleId}}" selected>{{this.name}}</option>
                    {{else}}
                        <option value="{{this.referenceDataVehicleId}}">{{this.name}}</option>
                    {{/ifCond}}
                {{/each}}
            </select>
        </div>
    </div>


    <div class="control-group" style='clear:both;'>
        <label class="control-label" for="inputChargeType">{{localize "Charge Type"}}</label>
        <div class="controls">
            <select id="inputChargeType" name="chargeTypeId" class="input-block-level">
                {{#each paymentsList}}
                    {{#ifCond this.id ../settings.chargeTypeId}}
                        <option value="{{this.id}}" selected>{{localize this.display}}</option>
                    {{else}}
                        <option value="{{this.id}}">{{localize this.display}}</option>
                    {{/ifCond}}
                {{/each}}
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputAccountRiderNmber">{{localize "Account Rider #"}}</label>
        <div class="controls">
            <input type="text" id="inputAccountRiderNmber" name="accountNumber" value="{{settings.accountNumber}}" class='input-block-level'>
        </div>
    </div>
    <div class="control-group btn-right-alignment">
        <button type='submit' class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Saves changes"}}</button>
      <a href='#' class='btn span' data-action='startOver'>{{localize "Cancel"}}</a>
    </div>
</form>
