<div class='row'>
    <div class='span6'>
        <div class="well">
            <legend>{{localize "SignupTitle"}}</legend>
            <div class="errors"></div>
            <div class="control-group">
                <label class="control-label" for="signup-email">{{localize "Email"}}</label>
                <div class="controls">
                    <input type="text" id="email" name="email" value="" data-error-style="inline" class='input-block-level'>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="signup-fullname">{{localize "FullName"}}</label>
                <div class="controls">
                    <input type="text" id="signup-fullname" name="name" value="" data-error-style="inline" class='input-block-level'>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="signup-phone">{{localize "Phone"}}</label>
                <div class="controls">
                    <select id="countrycode" name="countryCode" style="width:100%; margin-bottom:3px;">
                        {{#each countryCodes}}
                            <option value="{{this.CountryISOCode.Code}}">{{this.СountryDialCodeInternationalFormat}}{{#each this.spaces}}&nbsp;{{/each}}{{this.CountryName}}</option>
                        {{/each}}
                    </select>
                    <input type="text" id="signup-phone" name="phone" value="" data-error-style="inline" class='input-block-level'>
                </div>
            </div>
            <div id="signup-password-div" class="control-group">
                <label class="control-label" for="signup-password">{{localize "Password"}}</label>
                <div class="controls">
                    <input type="password" id="signup-password" name="password" value="" data-error-style="inline" class='input-block-level'>
                </div>
            </div>
            <div id="signup-confirm-password-div" class="control-group">
                <label class="control-label" for="signup-confirm-password">{{localize "ConfirmPassword"}}</label>
                <div class="controls">
                    <input type="password" id="signup-confirm-password" name="confirmPassword" value="" data-error-style="inline" class='input-block-level'>
                </div>
            </div>
            {{#if showPayBackField}}
            <div id="signup-payback-div" class="control-group">
                <label class="control-label" for="signup-payback">{{localize "PayBack"}}</label>
                <div class="controls">
                    <input type="text" id="signup-payback" name="payback" value="" data-error-style="inline" class='input-block-level'>
                </div>
            </div>
            {{/if}}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary pull-right span" data-loading-text="{{localize 'Loading'}}">{{localize "CreateBt"}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
