@model CustomerPortal.Web.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password</legend>

        @Html.HelpLabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)

        @Html.HelpLabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)

        @Html.HelpLabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)

    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Change password" />
    </div>
}