@model CustomerPortal.Web.Entities.AppleStoreCredentials
<p>@Html.Raw(ViewData.ModelMetadata.Description)</p>
<dl>
    <dt>@Html.DisplayNameFor(x => x.Username)</dt>
    <dd>@Html.DisplayFor(x => x.Username)</dd>
    <dt>@Html.DisplayNameFor(x => x.Password)</dt>
    <dd>@Html.DisplayFor(x => x.Password)</dd>
    <dt>@Html.DisplayNameFor(x => x.Team)</dt>
    <dd>@Html.DisplayFor(x => x.Team)</dd>
</dl>