<div class='row'>
    <div class='span6'>
        <div class='well clearfix'>
            <div class='errors'></div>
			<div class="control-group">
				<label class="control-label">{{localize "Search Criteria"}}</label>
				<div class="controls">
					<label class="control-label-wide" for="searchcriteria">{{localize "Name/Email/Phone Number"}}</label>
					<input type="text" id="searchcriteria" autofocus name="settings.phone" value="{{settings.phone}}" class='input-block-level' data-action='findUserWithSearchCriteriaEnterOnTextfield'>
				</div>
			</div>

			<div class="control-group btn-right-alignment">
				<button id="buttonFindUsers" {{#if findButtonDisable}} disabled {{/if}} type="submit" class='btn btn-primary span' data-action='findUserWithSearchCriteria' data-loading-text="{{localize 'Loading'}}">{{localize "Find user"}}</button>
			</div>
        </div>
    </div>
</div>

{{#if accounts}}
<div class='row'>
	<div class='span12'>
		<div class='well clearfix'>
			<div class="control-group">
				<table class="table-accountslist">
					<thead>
						<tr>
							<th>{{ localize "Name"}}</th>
							<th>{{ localize "Email"}}</th>
							<th>{{ localize "Phone Number"}}</th>
							<th>{{ localize "Confirmed"}}</th>
							<th>{{ localize "Enabled"}}</th>
							<th>{{ localize "Facebook account"}}</th>
						</tr>
					</thead>
					<tbody>
						{{#each accounts}}
						<tr data-action='goToAccountPage' accid="{{this.id}}">
							<td style="width:170px;">{{this.name}}</td>
							<td style="width:170px;">{{this.email}}</td>
							<td style="width:130px;">+{{this.settings.dialCode}} {{this.settings.phone}}</td>
							<td style="width:50px;"><img src="{{#if this.isConfirmed }} assets/img/yes.png {{else}} assets/img/no.png {{/if}}" style="height:25px; width:25px;" /></td>
							<td style="width:50px;"><img src="{{#if this.disabledByAdmin }} assets/img/no.png {{else}} assets/img/yes.png {{/if}}" style="height:25px; width:25px;" /></td>
							<td style="width:50px;"><img src="{{#if this.facebookId }} assets/img/yes.png {{else}} assets/img/no.png {{/if}}" styl style="height:25px; width:25px;" /></td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{{/if}}