<div class='well'>
    <h4 class="table-title">{{localize "Add or Update An Account"}}</h4>

    <div class="errors" style="margin-top: 10px;"></div>

    <form class="form-horizontal clearfix" >
        <div class="control-group">
            <label class="control-label">{{localize 'Account Rider Number'}}</label>
            <div class="controls">
                <input type="text" id="inputAccountNumber" name="number" value="{{number}}" class='input-block-level'>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">{{localize 'Account Rider Name'}}</label>
            <div class="controls">
                <input type="text" id="inputAccountName" name="name" value="{{name}}" class='input-block-level'>
            </div>
        </div>
        
        <br/>
        <h4 style="text-align: left">{{localize "Prompts"}}</h4>

        <table class="table">            
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width: 266px;">Prompt</th>
                    <th style="width: 266px;">Accepted Answers</th>
                    <th>Required</th>
                    <th>Case Sensitive</th>
                    <th>Max. Length</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><input type="text" name="questionFields" value="{{questions.[0].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[0].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields0" {{#if questions.[0].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields0" {{#if questions.[0].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[0].maxLength}}" />  </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text" name="questionFields" value="{{questions.[1].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[1].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields1" {{#if questions.[1].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields1" {{#if questions.[1].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[1].maxLength}}" />  </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text" name="questionFields" value="{{questions.[2].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[2].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields2" {{#if questions.[2].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields2" {{#if questions.[2].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[2].maxLength}}" />  </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text" name="questionFields" value="{{questions.[3].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[3].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields3" {{#if questions.[3].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields3" {{#if questions.[3].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[3].maxLength}}" />  </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text" name="questionFields" value="{{questions.[4].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[4].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields4" {{#if questions.[4].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields4" {{#if questions.[4].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[4].maxLength}}" />  </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><input type="text" name="questionFields" value="{{questions.[5].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[5].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields5" {{#if questions.[5].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields5" {{#if questions.[5].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[5].maxLength}}" />  </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><input type="text" name="questionFields" value="{{questions.[6].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[6].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields6" {{#if questions.[6].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields6" {{#if questions.[6].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[6].maxLength}}" />  </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><input type="text" name="questionFields" value="{{questions.[7].question}}" /> </td>
                    <td><input type="text" name="answerFields" value="{{questions.[7].answer}}" /> </td>
                    <td><input type="checkbox" name="questionIsRequiredFields7" {{#if questions.[7].isRequired}}checked{{/if}}/></td>
                    <td><input type="checkbox" name="questionIsCaseSensitiveFields7" {{#if questions.[7].isCaseSensitive}}checked{{/if}}/></td>
                    <td><input type="text" name="questionMaxLengthFields" style="width:43px" value="{{questions.[7].maxLength}}" />  </td>
                </tr>
            </thead>
        </table>

        
        
        <div class="control-group btn-right-alignment" >
          <button type='submit' class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
          <a href='#' class='btn  span' data-action='cancel'>{{localize "Cancel"}}</a>
          {{#unless isNew }}
          <a href='#' class='btn btn-danger  span' data-action='destroy'>{{localize "Remove"}}</a>
          {{/unless}}
        </div>
    </form>
</div>
