<div class='well'>
  <h4 class="table-title">{{localize "Add to Popular"}}</h4>

  <div class="errors" style="margin-top: 10px;"></div>

  <form class="form-horizontal clearfix" >

    <div class="control-group">
        <label class="control-label">{{localize 'Full Address'}}</label>
        <div class="controls">
          <input type="text" id="inputFullAddress" name="fullAddress"  value="{{fullAddress}}" class='input-block-level'>
        </div>
    </div>

    <div class="clearfix">
      <div class="control-group left-control-group">
        <label class="control-label">{{localize 'Latitude'}}</label>
        <div class="controls">
          <input type="text"  name="latitude"  value="{{latitude}}" class='input-block-level'>
        </div>
      </div>
      <div class="control-group right-control-group">
        <label class="control-label" >{{localize "Longitude"}}</label>
        <div class="controls">
          <input type="text" name="longitude" value="{{longitude}}" class='input-block-level'>
        </div>
      </div>
    </div>
	  <div class="control-group left-control-group" name="addressLocationTypeDiv">
		  <label class="control-label">{{localize "Type"}}</label>
		  <div class="controls">
			  <select name="addressLocationType" class="settingsBox">
				  <option value="0">{{localize "Unspecified"}}</option>
				  <option value="1">{{localize "Airport"}}</option>
				  <option value="2">{{localize "Train station"}}</option>
			  </select>
		  </div>
	  </div>

  	<div class="control-group right-control-group" name="airportReference">
  		<label class="control-label">{{localize "Airport Id"}}</label>
		  <div class="controls">
	  		<input type="text" name="placeId" value="{{placeId}}" class='input-block-level'>
		  </div>
  	</div>

	  <h4 style="text-align: center">{{localize "Give it a name"}}</h4>
    <div class="control-group no-label">
        <div class="controls">
            <input type="text" id="inputFriendlyName" name="friendlyName" value="{{friendlyName}}" class='input-block-level'>
        </div>
    </div>

    <div class="control-group btn-right-alignment" >
        <button type='submit' class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
      <a href='#' class='btn  span' data-action='cancel'>{{localize "Cancel"}}</a>
      {{#unless isNew }}
      <a href='#' class='btn btn-danger  span' data-action='destroy'>{{localize "Remove"}}</a>
      {{/unless}}
    </div>
  </form>
</div>
