<div class='well'>
    <h4 class="table-title">{{localize "Add Rate"}}</h4>
    <div class="errors" style="margin-top: 10px;"></div>
    <form class="form-horizontal clearfix" >
        <div class="control-group">
            <label class="control-label">{{localize 'Flat Rate'}}</label>
            <div class="controls">
                <input type="text" name="flatRate"  value="{{flatRate}}" class='input-block-level'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Distance Multiplicator'}}</label>
            <div class="controls">
                <input type="text" name="flatRate"  value="{{flatRate}}" class='input-block-level'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Time Adjustment Factor'}}</label>
            <div class="controls">
                <input type="text" name="flatRate"  value="{{flatRate}}" class='input-block-level'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Price Per Passenger'}}</label>
            <div class="controls">
                <input type="text" name="flatRate"  value="{{flatRate}}" class='input-block-level'>
            </div>
        </div>
        <button type='submit' class='btn btn-primary'>{{localize "Add Rate"}}</button>
    </form>
</div>
