<div class='well'>
    <h4 class="table-title">{{localize "Add or Update A Vehicle Type"}}</h4>

    <div class="errors" style="margin-top: 10px;"></div>

    <form class="form-horizontal clearfix" >
        <div class="control-group">
            <label class="control-label">{{localize 'Name'}}</label>
            <div class="controls">
                <input type="text" id="inputVehicleName" name="name" value="{{name}}" class='input-block-level' maxlength="50">
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">{{localize 'Logo'}}</label>
            <div class="controls">
                <label class="radio">
                    <input class="radio" type="radio" id="inputVehicleLogoName" name="logoName" value="taxi" {{#ifCond logoName 'taxi'}} checked {{/ifCond}}/>
                    <img src="assets/img/taxi_badge.png" />
                </label>
                <label class="radio">
                    <input class="radio" type="radio" id="inputVehicleLogoName" name="logoName" value="suv" {{#ifCond logoName 'suv' }} checked {{/ifCond}}/>
                    <img src="assets/img/suv_badge.png" />
                </label>
                <label class="radio">
                    <input class="radio" type="radio" id="inputVehicleLogoName" name="logoName" value="blackcar" {{#ifCond logoName 'blackcar' }} checked {{/ifCond}}/>
                    <img src="assets/img/blackcar_badge.png" />
                </label>
                <label class="radio">
                    <input class="radio" type="radio" id="inputVehicleLogoName" name="logoName" value="wheelchair" {{#ifCond logoName 'wheelchair'}} checked {{/ifCond}} />
                    <img src="assets/img/wheelchair_badge.png" />
                </label>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">{{localize 'Associated Reference Data Type'}}</label>
            <select name="referenceDataVehicleId">
                {{#each availableVehicles}}
                {{#ifCond this.id ../referenceDataVehicleId}}
                  <option value="{{id}}" selected>{{display}}</option>
                {{else}}
                  <option value="{{id}}">{{display}}</option>
                {{/ifCond}}
                {{/each}}
            </select>
        </div>

        <div class="control-group">
            <label class="control-label">{{localize 'Service Type'}}</label>
            <select name="serviceType">
                {{#each availableVehicles}}
                {{#ifCond this.id ../serviceType}}
                <option value="{{id}}" selected>{{display}}</option>
                {{else}}
                <option value="{{id}}">{{display}}</option>
                {{/ifCond}}
                {{/each}}
            </select>
        </div>

        {{#ifCond isNetworkEnabled 'true'}}
        <div class="control-group">
            <label class="control-label">{{localize 'Network vehicle type'}}</label>
            <select name="referenceNetworkVehicleTypeId">
                <option value="">{{localize 'None'}}</option>
                {{#each networkVehicleTypes}}
                {{#ifCond this.id ../referenceNetworkVehicleTypeId}}
                    <option value="{{id}}" selected>{{name}}</option>
                {{else}}
                    <option value="{{id}}">{{name}}</option>
                {{/ifCond}}
                {{/each}}
            </select>
        </div>
        {{/ifCond}}

        <div class="control-group">
            <label class="control-label">{{localize 'Max # Passengers'}}</label>
            <div class="controls">
                <input type="text" id="inputVehicleCapacity" name="maxNumberPassengers" value="{{maxNumberPassengers}}" class='input-block-level' maxlength="50">
                <label class="control-label">{{localize '(0 = no limit)'}}</label>
            </div>            
        </div>

        <div class="control-group">
            <label class="control-label">{{localize 'Wheelchair Accessible'}}</label>
            <div class="controls">
                <input type="checkbox" id="inputIsWheelchairAccessible" name="isWheelchairAccessible" {{#if isWheelchairAccessible}} checked{{/if}}>
            </div>
        </div>

        <div class="control-group btn-right-alignment" >
          <button type='submit' class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
          <a href='#' class='btn  span' data-action='cancel'>{{localize "Cancel"}}</a>
          {{#unless isNew}}
          <a href='#' class='btn btn-danger  span' data-action='destroy'>{{localize "Remove"}}</a>
          {{/unless}}
        </div>
    </form>
</div>
