<div class='well'>
    <h4 class="table-title">{{localize "Add or Update A Vehicle Type"}}</h4>

    <div class="errors" style="margin-top: 10px;"></div>

    <form class="form-horizontal clearfix" >
        <div class="control-group">
            <label class="control-label">{{localize 'Name'}}</label>
            <div class="controls">
                <input type="text" id="inputVehicleName" name="name" value="{{name}}" class='input-block-level'>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">{{localize 'Logo'}}</label>
            <div class="controls">
                <label class="radio">
                    <input class="radio" type="radio" id="inputVehicleLogoName" name="logoName" value="taxi" {{#ifCond logoName 'taxi'}} checked {{/ifCond}}/>
                    <img src="assets/img/taxi_badge.png" />
                </label>
                <label class="radio">
                    <input class="radio" type="radio" id="inputVehicleLogoName" name="logoName" value="suv" {{#ifCond logoName 'suv' }} checked {{/ifCond}}/>
                    <img src="assets/img/suv_badge.png" />
                </label>
                <label class="radio">
                    <input class="radio" type="radio" id="inputVehicleLogoName" name="logoName" value="blackcar" {{#ifCond logoName 'blackcar' }} checked {{/ifCond}}/>
                    <img src="assets/img/blackcar_badge.png" />
                </label>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">{{localize 'Associated Reference Data Type'}}</label>
            <select name="referenceDataVehicleId">
                {{#each availableVehicles}}
                <option value="{{id}}">{{display}}</option>
                {{/each}}
            </select>
        </div>
        
        <div class="control-group btn-right-alignment" >
          <button type='submit' class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
          <a href='#' class='btn  span' data-action='cancel'>{{localize "Cancel"}}</a>
          {{#unless isNew}}
          <a href='#' class='btn btn-danger  span' data-action='destroy'>{{localize "Remove"}}</a>
          {{/unless}}
        </div>
    </form>
</div>
