<div class="well sidebar-nav" style='padding: 9px 0;' >
  <ul class="nav nav-list">
    <li class="nav-header">{{localize "Address Management"}}</li>
    <li data-route=""><a href="#">{{localize "Default favorite addresses"}}</a></li>
    <li data-route="addresses/popular"><a href="#">{{localize "Popular addresses"}}</a></li>
    <li class="nav-header">{{localize "Settings"}}</li>
    <li data-route="settings"><a href="#">{{localize "Company Settings"}}</a></li>
    <li data-route="notificationSettings"><a href="#">{{localize "Notification Settings"}}</a></li>
    {{#if isSuperAdmin }}
        <li data-route="paymentSettings"><a href="#">{{localize "Payment Settings"}}</a></li>
    {{/if}}
    <li data-route="accounts">
      <a href="#">{{localize "Charge Accounts"}}</a>
    </li>
    <li data-route="vehicleTypes"><a href="#">{{localize "Vehicle Types"}}</a></li>
    <li data-route="tariffs"><a href="#">Ride Estimates</a></li>
    <li data-route="rules"><a href="#">Booking Rules</a></li>
    <li data-route="termsandconditions"><a href="#">{{localize "Terms and Conditions"}}</a></li>
    
    <li class="nav-header">{{localize "User Management"}}</li>
    <li data-route="security"><a href="#">{{localize "Grant access admin"}}</a></li>
    <li data-route="confirmemail"><a href="#">{{localize "Enable Disable Account"}}</a></li>    
    <li data-route="sendpushnotification"><a href="#">{{localize "Send Push Notifications"}}</a></li>
    <li data-route="signup">
      <a href="#">{{localize "Signup"}}</a>
    </li>
    <li class="nav-header">{{localize "Export"}}</li>
    <li data-route="exportaccounts"><a href="#" >{{localize "ExportAccounts"}}</a></li>
    <li data-route="exportorders"><a href="#">{{localize "ExportOrders"}}</a></li>
    <li class="nav-header">{{localize "Version"}}</li>
    <li>{{version}}</li>
  </ul>
</div>