<div class='row'>
    <div class='span6'>
        <div class='well clearfix'>
            <div class='errors'></div>
            <div class="control-group">
                <label class="control-label" for="email">{{localize "Email Address"}}</label>
                <div class="controls">
                    <input type="text" name="email" class='input-block-level'/>
                </div>
            </div>
            
            <div class="control-group btn-right-alignment">
                <button type="submit" class='btn btn-primary span' data-action='disableemail' data-loading-text="{{localize 'Loading'}}">{{localize "Disable"}}</button>
            </div>
            <div class="control-group btn-right-alignment">
                <button type="submit" class='btn btn-primary span' data-action='confirmemail' data-loading-text="{{localize 'Loading'}}">{{localize "Enable"}}</button>
            </div>
            <div class="control-group btn-right-alignment">
                <button type="submit" class='btn btn-primary span' data-action='unlinkaccount' data-loading-text="{{localize 'Loading'}}">{{localize "Unlink"}}</button>
            </div>
        </div>
    </div>
</div>