<div class='well'>
    <h4 class="table-title">
        {{#if editMode}}
        {{localize "Edit Rule"}}
        {{else}}
        {{localize "Add Rule"}}
        {{/if}}
    </h4>
    <div class="errors" style="margin-top: 10px;"></div>
    <form class="form-horizontal clearfix" >
      <!--<input type='hidden' name='type' value='{{type}}' />
        <input type='hidden' name='type' value='{{category}}' /-->
        <div class="control-group">
            <label class="control-label">{{localize 'Name'}}</label>
            <div class="controls">
                {{#if isDefault}}
                    <label>{{localize "Default"}}</label>
                    <input type="hidden" name="name"  value="default">
                {{else}}
                    <input type="text" name="name"  value="{{name}}" class='input-block-level'>
                {{/if}}
            </div>
        </div>
      <div class="control-group">
        <label class="control-label">{{localize 'Applies to'}}</label>
        <div class="controls">
          <input type="checkbox" id="appliesToCurrentBooking" name='appliesToCurrentBooking' value="{{appliesToCurrentBooking}}" {{currentBookingChecked}} >
            {{localize "Current booking"}}
          </input>
          <input type="checkbox" id="appliesToFutureBooking" name='appliesToFutureBooking' value="{{appliesToFutureBooking}}" {{futureBookingChecked}}>{{localize "Future booking"}}</input>
        </div>
      </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Message'}}</label>
            <div class="controls">
              <textarea rows="3" type="text" name="message"  value="{{message}}">{{message}}</textarea>
            </div>
        </div>
        
        <button type='submit' class='btn btn-primary'>{{localize "Save Rule"}}</button>
    </form>
</div>
