<div class='well'>
    <h4 class="table-title">
        {{#if editMode}}
        {{localize "Edit Tariff"}}
        {{else}}
        {{localize "Add Tariff"}}
        {{/if}}
    </h4>
    <div class="errors" style="margin-top: 10px;"></div>
    <form class="form-horizontal clearfix" >
        <input type='hidden' name='type' value='{{type}}' />
        <div class="control-group">
            <label class="control-label">{{localize 'Name'}}</label>
            <div class="controls">
                {{#if isDefault}}
                    <label>{{localize "Default"}}</label>
                    <input type="hidden" name="name"  value="default">
                {{else}}
                    <input type="text" name="name"  value="{{name}}" class='input-block-level'>
                {{/if}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Flat Rate'}}</label>
            <div class="controls">
                <input type="text" name="flatRate"  value="{{flatRate}}" class='input-mini'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Kilometric Rate'}}</label>
            <div class="controls">
                <input type="text" name="kilometricRate"  value="{{kilometricRate}}" class='input-mini'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Per Minute Rate'}}</label>
            <div class="controls">
                <input type="text" name="perMinuteRate" value="{{perMinuteRate}}" class='input-mini'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Kilometer Included In Flat Rate'}}</label>
            <div class="controls">
                <input type="text" name="kilometerIncluded"  value="{{kilometerIncluded}}" class='input-mini'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{localize 'Margin of Error'}}</label>
            <div class="controls">
                <div class='input-append'>
                    <input type="text" name="marginOfError"  value="{{marginOfError}}" class='input-mini'>
                    <span class="add-on">%</span>
                </div>
            </div>
        </div>
      
        {{#unless isDefault}}
            <div class='clearfix'>
                <div class="control-group">
                    <label class="control-label">{{localize 'Start Time'}}</label>
                    <div class="controls">
                        <div class="input-append bootstrap-timepicker-component">
                            <input name='startTime' value='{{niceTime startTime}}' type="text" data-role='timepicker' class="input-small">
                            <span class="add-on">
                                <i class="icon-time"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{localize 'End Time'}}</label>
                    <div class="controls">
                        <div class="input-append bootstrap-timepicker-component">
                            <input name='endTime' value='{{niceTime endTime}}' type="text" data-role='timepicker' class="input-small">
                            <span class="add-on">
                                <i class="icon-time"></i>
                            </span>
                        </div>
                        <span class="help-inline next-day-warning">{{localize "The next day"}}</span>
                    </div>
                </div>
            </div>
            {{#if recurring}}
            <div class="control-group">
                <label class="checkbox inline">
                    <input type="checkbox" name='daysOfTheWeek' value="0" {{checked0}}> Sunday
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" name='daysOfTheWeek' value="1" {{checked1}}> Monday
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" name='daysOfTheWeek' value="2" {{checked2}}> Tuesday
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" name='daysOfTheWeek' value="3" {{checked3}}> Wednesday
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" name='daysOfTheWeek' value="4" {{checked4}}> Thursday
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" name='daysOfTheWeek' value="5" {{checked5}}> Friday
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" name='daysOfTheWeek' value="6" {{checked6}}> Saturday
                </label>
            </div>
            {{else}}
            <div class='control-group'>
                <label class='control-label' for='book-later-date'>{{localize "Date"}}</label>
                <div class='controls'>
                    <div class="input-append date" data-role='datepicker' data-date="">
                        <input id='book-later-date' name='date' class="input-small" type="text">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            {{/if}} <!-- /if recurring -->
        {{/unless}} <!-- /unless isDefault -->
        <button type='submit' class='btn btn-primary'>{{localize "Save Tariff"}}</button>
    </form>
</div>
