<div class='well clearfix'>
    <h4 class="table-title">{{localize "Manage Rules"}}</h4>

    <a href='#tariffs/add/recurring' class='btn'>{{localize "Add Rule (Recurring)"}}</a> 
    <a href='#tariffs/add/day' class='btn'>{{localize "Add Rule (One day)"}}</a> 

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{localize "Name"}}</th>
                <th>{{localize "Days"}}</th>
                <th>{{localize "Time"}}</th>
                <th width=60>&nbsp;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
