<!-- PAYPAL SETTINGS-->


<h4 class="table-title">{{localize "PayPal Settings"}}</h4>


<label class="control-label settingsLabel" >{{{localize "Use PayPal"}}}</label>
<select  name="payPalClientSettings.isEnabled" class="settingsBox">
  <option value="{{payPalClientSettings.isEnabled}}" selected="" >{{localizeBool payPalClientSettings.isEnabled true="Yes" false="No"}}</option>
  <option value="{{invertedBool payPalClientSettings.isEnabled}}">{{localizeBool payPalClientSettings.isEnabled true="No" false="Yes"}}</option>
</select>

<label class="control-label settingsLabel" >{{{localize "Sandbox Mode"}}}</label>
<select  name="payPalServerSettings.isSandbox" class="settingsBox">
  <option value="{{payPalServerSettings.isSandbox}}" selected="" >{{localizeBool payPalServerSettings.isSandbox true="Yes" false="No"}}</option>
  <option value="{{invertedBool payPalServerSettings.isSandbox}}">{{localizeBool payPalServerSettings.isSandbox true="No" false="Yes"}}</option>
</select>

<h5  >{{{localize "Sandbox Credentials"}}}</h5>

<label class="control-label settingsLabel" >{{{localize "Username"}}}</label>
<input type="text" class="input-block-level settingsBox" name="payPalServerSettings.sandboxCredentials.username" value="{{payPalServerSettings.sandboxCredentials.username}}" />

<label class="control-label settingsLabel" >{{{localize "Password"}}}</label>
<input type="text" class="input-block-level settingsBox" name="payPalServerSettings.sandboxCredentials.password" value="{{payPalServerSettings.sandboxCredentials.password}}" />

<label class="control-label settingsLabel" >{{{localize "Signature"}}}</label>
<input type="text" class="input-block-level settingsBox" name="payPalServerSettings.sandboxCredentials.signature" value="{{payPalServerSettings.sandboxCredentials.signature}}" />

<div id="payPalSandboxSettingsMessageZone"></div>
<button type='button' id="testPayPalSandboxSettingsButton" class='btn' >{{localize "Test"}}</button>


<h5  >{{{localize "Production Credentials"}}}</h5>

<label class="control-label settingsLabel" >{{{localize "Username"}}}</label>
<input type="text" class="input-block-level settingsBox" name="payPalServerSettings.credentials.username" value="{{payPalServerSettings.credentials.username}}" />

<label class="control-label settingsLabel" >{{{localize "Password"}}}</label>
<input type="text" class="input-block-level settingsBox" name="payPalServerSettings.credentials.password" value="{{payPalServerSettings.credentials.password}}" />

<label class="control-label settingsLabel" >{{{localize "Signature"}}}</label>
<input type="text" class="input-block-level settingsBox" name="payPalServerSettings.credentials.signature" value="{{payPalServerSettings.credentials.signature}}" />

<div id="payPalProductionSettingsMessageZone"></div>
<button type='button' id="payPalProductionSettingsButton" class='btn' >{{localize "Test"}}</button>


<br />
<br />



<!-- PAYMENT OPTION-->
<h4 class="table-title">{{localize "Payment Mode"}}</h4>

  <label class="control-label settingsLabel" >{{{localize "Pay In Taxi Enabled"}}}</label>
  <select  name="isPayInTaxiEnabled" class="settingsBox">
    <option value="{{isPayInTaxiEnabled}}" selected="" >{{localizeBool isPayInTaxiEnabled true="Yes" false="No"}}</option>
    <option value="{{invertedBool isPayInTaxiEnabled}}">{{localizeBool isPayInTaxiEnabled true="No" false="Yes"}}</option>
  </select>


  <label class="control-label settingsLabel" >{{{localize "Payment Method"}}}</label>
  <select name="paymentMode"  class="settingsBox">
    <option value="None">{{localize "None"}}</option>
    <option value="Cmt">{{localize "CMT Payments"}}</option>
    <option value="RideLinqCmt">{{localize "CMT RideLinQ Payments"}}</option>
    <option value="Braintree">{{localize "Braintree Payments"}}</option>
    <option value="Moneris">{{localize "Moneris Payments"}}</option>
    <option value="Fake">{{localize "Demo Payment Service"}}</option>
  </select>
  <br />
  <br />

<!-- BRAINTREE SETTINGS-->
  <div class="control-group" id="braintreeSettingsDiv">

    <h4 class="table-title">{{localize "Braintree Settings"}}</h4>
    
    <h5  >{{{localize "Client Settings"}}}</h5>

    <label class="control-label settingsLabel" >{{{localize "Client Key"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="braintreeClientSettings.clientKey" value="{{braintreeClientSettings.clientKey}}" />

    <br />
    <br />

    
    <h5  >{{{localize "Server Settings"}}}</h5>
    
    <label class="control-label settingsLabel" >{{{localize "Use Sandbox"}}}</label>
    
    <select  name="braintreeServerSettings.isSandbox" class="settingsBox">
      <option value="{{braintreeServerSettings.isSandbox}}" selected >{{localizeBool braintreeServerSettings.isSandbox true="Yes" false="No"}}</option>
      <option value="{{invertedBool braintreeServerSettings.isSandbox}}">{{localizeBool braintreeServerSettings.isSandbox true="No" false="Yes"}}</option>
    </select>
    
    
    <label class="control-label settingsLabel" >{{{localize "Merchant Id"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="braintreeServerSettings.merchantId" value="{{braintreeServerSettings.merchantId}}" />

    <label class="control-label settingsLabel" >{{{localize "Private Key"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="braintreeServerSettings.privateKey" value="{{braintreeServerSettings.privateKey}}" />

    <label class="control-label settingsLabel" >{{{localize "Public Key"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="braintreeServerSettings.publicKey" value="{{braintreeServerSettings.publicKey}}" />

    <div id="brainTreeSettingsMessageZone"></div>
    <button type='button' id="brainTreeSettingsButton" class='btn' >{{localize "Test"}}</button>  

  </div>

<!-- CMT SETTINGS-->
  <div class="control-group" id="cmtSettingsDiv">

    <h4 class="table-title">{{localize "CMT Settings"}}</h4>

    <label class="control-label settingsLabel" >{{{localize "Use Sandbox"}}}</label>

    <select  name="cmtPaymentSettings.isSandbox" class="settingsBox">
      <option value="{{cmtPaymentSettings.isSandbox}}" selected="" >{{localizeBool cmtPaymentSettings.isSandbox true="Yes" false="No"}}</option>
      <option value="{{invertedBool cmtPaymentSettings.isSandbox}}">{{localizeBool cmtPaymentSettings.isSandbox true="No" false="Yes"}}</option>
    </select>
    
    <label class="control-label settingsLabel" >{{{localize "Server Payment Url"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.baseUrl" value="{{cmtPaymentSettings.baseUrl}}" />

    <label class="control-label settingsLabel" >{{{localize "Server Mobile Url"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.mobileBaseUrl" value="{{cmtPaymentSettings.mobileBaseUrl}}" />

    <label class="control-label settingsLabel" >{{{localize "Server Payment Sandbox Url"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.sandboxBaseUrl" value="{{cmtPaymentSettings.sandboxBaseUrl}}" />

    <label class="control-label settingsLabel" >{{{localize "Server Mobile Sandbox Url"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.sandboxMobileBaseUrl" value="{{cmtPaymentSettings.sandboxMobileBaseUrl}}" />

    <label class="control-label settingsLabel" >{{{localize "Consumer Secret Key"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.consumerSecretKey" value="{{cmtPaymentSettings.consumerSecretKey}}" />

    <label class="control-label settingsLabel" >{{{localize "Consumer Key"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.consumerKey" value="{{cmtPaymentSettings.consumerKey}}" />

    <label class="control-label settingsLabel" >{{{localize "Fleet Token"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.fleetToken" value="{{cmtPaymentSettings.fleetToken}}" />

    <label class="control-label settingsLabel">{{{localize "Market"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="cmtPaymentSettings.market" value="{{cmtPaymentSettings.market}}" />

    <div id="cmtSettingsMessageZone"></div>
    <button type='button' id="cmtSettingsButton" class='btn' >{{localize "Test"}}</button>    

  </div>

<!-- MONERIS SETTINGS-->
<div class="control-group" id="monerisSettingsDiv">

    <h4 class="table-title">{{localize "Moneris Settings"}}</h4>

    <label class="control-label settingsLabel">{{{localize "Use Sandbox"}}}</label>

    <select name="monerisPaymentSettings.isSandbox" class="settingsBox">
        <option value="{{monerisPaymentSettings.isSandbox}}" selected="">{{localizeBool monerisPaymentSettings.isSandbox true="Yes" false="No"}}</option>
        <option value="{{invertedBool monerisPaymentSettings.isSandbox}}">{{localizeBool monerisPaymentSettings.isSandbox true="No" false="Yes"}}</option>
    </select>

    <label class="control-label settingsLabel">{{{localize "Host Url"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="monerisPaymentSettings.baseHost" value="{{monerisPaymentSettings.baseHost}}" />

    <label class="control-label settingsLabel">{{{localize "Host Sandbox Url"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="monerisPaymentSettings.sandboxHost" value="{{monerisPaymentSettings.sandboxHost}}" />

    <label class="control-label settingsLabel">{{{localize "StoreId"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="monerisPaymentSettings.storeId" value="{{monerisPaymentSettings.storeId}}" />

    <label class="control-label settingsLabel">{{{localize "ApiToken"}}}</label>
    <input type="text" class="input-block-level settingsBox" name="monerisPaymentSettings.apiToken" value="{{monerisPaymentSettings.apiToken}}" />

    <div id="monerisSettingsMessageZone"></div>
    <button type='button' id="monerisSettingsButton" class='btn'>{{localize "Test"}}</button>

</div>

<div>
  <div id="warning" class="alert">
    <input type="checkbox" name="acceptChange"> {{localize "I understand that changing the payment mode will DELETE all stored credit card information for ALL users."}}</input>
  </div>

  <button type='submit' id="saveButton" class='btn-primary' >{{localize "Save"}}</button>
  <div class="message"></div>
</div>