<div class='well clearfix'>
    <h4 class="table-title">{{localize "Manage Tariffs"}}</h4>

    <a href='#tariffs/add/recurring' class='btn'>{{localize "Add Tariff (Recurring)"}}</a> 
    <a href='#tariffs/add/day' class='btn'>{{localize "Add Tariff (One day)"}}</a>
    <a href='#tariffs/add/vehicle' class='btn'>{{localize "Add Tariff (Vehicle)"}}</a> 

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{localize "Name"}}</th>
                <th>{{localize "Days"}}</th>
                <th>{{localize "Time"}}</th>
                <th width="60px">&nbsp;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
