<div class='well clearfix'>
  <h4 class="table-title">{{localize "Manage IBS Exclusions"}}</h4>

  <div class="message"></div>

  <div class='clearfix'>
      <div class='span2'>
        <label>{{localize "Vehicle Types"}}</label>
        {{#each vehiclesList}}
        <label class="checkbox">
            <input type="checkbox" name='vehiclesList' value="{{id}}" {{checked}} >{{display}}
        </label>
        {{/each}} 
      </div>
      <div class='span3'>
        <label>{{localize "Companies"}}</label>
        {{#each companiesList}}
        <label class="checkbox">
            <input type="checkbox" name='companiesList' value="{{id}}" {{checked}} >{{display}}
        </label>
        {{/each}} 
      </div>
    </div>
    <div>
      <button type='submit' class='btn btn-primary' >{{localize "Exclude these values"}}</button>
    </div>
</div>