<div class='well clearfix'>
  <h4 class="table-title">{{localize "Manage IBS Exclusions"}}</h4>
  <div class='clearfix'>
      <div class='span2'>
        List 1
        {{#each paymentsList}}
        <label class="checkbox">
            <input type="checkbox" name='paymentsList' value="{{id}}" {{checked}} >{{display}}
        </label>
        {{/each}}
      </div>
      <div class='span2'>
        List 2
        {{#each vehiclesList}}
        <label class="checkbox">
            <input type="checkbox" name='vehiclesList' value="{{id}}" {{checked}} >{{display}}
        </label>
        {{/each}} 
      </div>
      <div class='span2'>
        List 3
        {{#each companiesList}}
        <label class="checkbox">
            <input type="checkbox" name='companiesList' value="{{id}}" {{checked}} >{{display}}
        </label>
        {{/each}} 
      </div>
    </div>
    <div>
      <button type='submit' class='btn btn-primary' >{{localize "Save"}}</button>
    </div>
</div>