<td>{{daysOfTheWeek}}</td>
<td>{{flatRate}}</td>
<td>{{distanceMultiplicator}}</td>
<td>{{timeAdjustmentFactor}}</td>
<td>{{pricePerPassenger}}</td>
<td>
    <button type='button' class='btn btn-mini'>
        <i class="icon-edit icon-white"></i>
    </button>
    <button type='button' class='btn btn-mini btn-danger'>
        <i class="icon-trash icon-white"></i>
    </button>
</td>