<td>{{name}}</td>

{{#if isNetworkEnabled}}
{{#if isLocalMarket}}
    <td>{{localize "Local"}}</td>
{{else}}
    <td>{{market}}</td>
{{/if}}
{{/if}}

<td>{{message}}</td>

<td>
	<a type='button' data-action='enable' class='btn btn-mini' href='#rules/edit/{{id}}'>
        {{isActiveText}}
    </a>
    <a type='button' class='btn btn-mini' href='#rules/edit/{{id}}'>
        <i class="icon-edit icon-white"></i>
    </a>
    <button type='button' class='btn btn-mini btn-danger' data-action='delete'>
        <i class="icon-trash icon-white"></i>
    </button>
</td>