<div>
  <div class="control-group">
    <label class="control-label" >{{key}}</label>
    <div class="controls">
      <input type="text"  id="{{key}}" name="{{key}}" value="{{value}}" class='input-block-level'/>
    </div>
    <button class='btn' data-action='save-settings'>{{localize "Save"}}</button>
  </div>
	
</div>