<div class='well'>
    <h4 class="table-title">{{localize "Update Service Type Settings"}}</h4>

    <div class="errors" style="margin-top: 10px;"></div>

    <form class="form-horizontal clearfix">
        <div class="control-group">
            <label class="control-label">{{localize 'Service Type'}}</label>
            <div class="controls">
                <label class="control-label">{{serviceType}}</label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{localize 'IBS - WebServicesUrl'}}</label>
            <div class="controls">
                <input type="text" id="inputIbsWebServicesUrl" name="ibsWebServicesUrl" value="{{ibsWebServicesUrl}}" class='input-block-level'>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{localize 'Provider ID'}}</label>
            <div class="controls">
                <input type="text" id="inputProviderId" name="providerId" value="{{providerId}}" class='input-block-level'>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{localize 'Wait Time Rate (Per minute)'}}></label>
                <div class="controls">
                    <input type="number" id="inputWaitTimeRatePerMinute" name="waitTimeRatePerMinute" value="{{waitTimeRatePerMinute}}" class='input-block-level' maxlength="50">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{localize 'Airport Meet & Greet Rate'}}</label>
                <div class="controls">
                    <input type="number" id="inputAirportMeetAndGreetRate" name="airportMeetAndGreetRate" value="{{airportMeetAndGreetRate}}" class='input-block-level' maxlength="50">
                </div>
            </div>

            <div class="control-group btn-right-alignment">
                <button type='submit' class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
                <a href='#' class='btn  span' data-action='cancel'>{{localize "Cancel"}}</a>
            </div>
    </form>
</div>
