<div class='well clearfix'>
  <h4 class="table-title">{{localize "Terms and Conditions"}}</h4>
  <div class='message'></div>
  
  <div class="control-group">
    <label class="control-label" for="termsandconditions">{{localize "Content"}}</label>
    <div class="controls">
      <textarea type="text" rows="20" name="termsandconditions" class='input-block-level'>{{content}}</textarea>
    </div>
  </div>
  
  <div class="control-group btn-right-alignment">
    <button type="submit" class='btn btn-primary span' data-action='savetermsandconditions' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
  </div>
</div>