@using apcurium.MK.Common.Extensions
@using CustomerPortal.Web
@model CustomerPortal.Web.Entities.Company

<fieldset>
        
    <legend>Store / Devices <a href="@Url.Action("EditStore")" class="btn btn-link">Edit</a></legend>
    <dl>
        <dt>@Html.DisplayNameFor(x => x.Store.Keywords)</dt>
        <dd>@Html.DisplayFor(x => x.Store.Keywords)</dd>
        
        <dt>@Html.DisplayNameFor(x => x.Store.UniqueDeviceIdentificationNumber)</dt>
        <dd>@Html.DisplayFor(x => x.Store.UniqueDeviceIdentificationNumber, "ListOfString")</dd>
    </dl>

</fieldset>
          
<h4>Store credentials</h4>
<p>
    You must set up your own store accounts for the Apple App Store and the Google Play Store.	
</p>
          
<fieldset>
    <legend>
        @Html.DisplayNameFor(x => x.AppleAppStoreCredentials)
    </legend>

    @Html.DisplayFor(model => model.AppleAppStoreCredentials)
</fieldset>
          
<fieldset>
    <legend>
        @Html.DisplayNameFor(x => x.GooglePlayCredentials)
    </legend>

    @Html.DisplayFor(model => model.GooglePlayCredentials)

    @if (User.IsInRole(RoleName.Admin))
    {
        <dl>
            <dt>Google Map for Work API Fingerprint</dt>
            @{
                var packageAndroidSetting = Model.CompanySettings.FirstOrDefault(s => s.Key == "PackageAndroid");
                var packageSetting = Model.CompanySettings.FirstOrDefault(s => s.Key == "Package");
                var packageName = packageAndroidSetting != null
                    ? packageAndroidSetting.Value
                    : packageSetting != null
                        ? packageSetting.Value
                        : string.Empty;
            }
            @if (!packageName.HasValue())
            {
                <dd style="color:red">Warning: Package name setting does not exist. It is required for fingerprint generation.</dd>
            }
            
            <dd><span style="font-weight: bold">Package:</span> @packageName</dd>
            <dd><span style="font-weight: bold">SHA:</span> @Model.GooglePlayCredentials.KeystoreSHA1Signature</dd>
            <br />
            @using (Html.BeginForm("GenerateApiKey", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("id", Model.Id);
                @Html.Hidden("type", "assets");
                <input type="submit" class="btn btn-primary" value="Generate Fingerprint" />
            }
        </dl>
    }
</fieldset>
