@using apcurium.MK.Web.helpers
<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8' />
   <title>@ViewData["ApplicationName"] </title>
   <meta name="HandheldFriendly" content="True">
   <meta name="MobileOptimized" content="320">
   <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, user-scalable=no">
   <meta http-equiv="cleartype" content="on">
   <link rel="stylesheet" href='~/themes/@ViewData["ApplicationKey"]/less/combined.less' />
   <link rel="stylesheet" href='~/admin/assets/less/TaxiHail-admin-grid.less' />
   <link rel="stylesheet" href='~/admin/assets/css/admin.css' />
   <link rel="stylesheet" href='~/themes/@ViewData["ApplicationKey"]/less/combined-responsive.less' />
   @Scripts.Render("~/bundles/modernizr")
   <script src="~/scripts/jquery-1.8.2.min.js"></script>
</head>
<body>
   <header>
      <div class="login-status-zone">
         <div><a href='@ViewData["BaseUrl"]' class='brand'></a></div>
      </div>
   </header>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "containerForm" }))
{
   <div class="container">
      <div class='notification-zone'></div>
      <div class='row'>
         <div class="menu-zone span3">
            <div class="well sidebar-nav" style='padding: 9px 0;'>
               <ul class="nav nav-list">
                  <li class="nav-header">Address Management</li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin")" class="navbar-brand">Default favorite addresses</a></li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin/#addresses/popular")" class="navbar-brand">Popular addresses</a></li>

                  @if (Convert.ToBoolean(ViewData["IsAdmin"]))
                  {
                     <li class="nav-header">Settings</li>
                     <li>@Html.MenuLink("Company Settings", "Index", "CompanySettings")</li>
                           <li><a href="@(ViewData["BaseUrl"] + "/admin/#notificationSettings")" class="navbar-brand">Notification Settings</a></li>
                      if (Convert.ToBoolean(ViewData["IsSuperAdmin"]))
                      {
                        <li><a href="@(ViewData["BaseUrl"] + "/admin/#paymentSettings")" class="navbar-brand">Payment Settings</a></li>
                      }
                      if (Convert.ToBoolean(ViewData["IsTaxiHailPro"]))
                      {
                        <li><a href="@(ViewData["BaseUrl"] + "/admin/#accounts")" class="navbar-brand">Charge Accounts</a></li>
                        <li><a href="@(ViewData["BaseUrl"] + "/admin/#vehicleTypes")" class="navbar-brand">Vehicle Types</a></li>
                      }
                     <li><a href="@(ViewData["BaseUrl"] + "/admin/#tariffs")" class="navbar-brand">Ride Estimates</a></li>
                     <li><a href="@(ViewData["BaseUrl"] + "/admin/#ratings")" class="navbar-brand">Ride Ratings</a></li>
                           <li><a href="@(ViewData["BaseUrl"] + "/admin/#rules")" class="navbar-brand">Booking Rules</a></li>
                           <li><a href="@(ViewData["BaseUrl"] + "/admin/#termsandconditions")" class="navbar-brand">Terms and Conditions</a></li>
                           <li>@Html.MenuLink("Privacy Policy", "Index", "Privacy")</li>

                              <li class="nav-header">TaxiHail Network</li>
                              <li>@Html.MenuLink("Configure", "Index", "TaxiHailNetwork")</li>
                              <li>@Html.MenuLink("Fees", "Fees", "TaxiHailNetwork")</li>
                  }

                  @if (Convert.ToBoolean(ViewData["IsTaxiHailPro"]))
                  {
                     <li class="nav-header">Promo Codes</li>
                     <li>@Html.MenuLink("Configure", "Index", "PromoCode")</li>
                           <li>@Html.MenuLink("Customer Support", "Unlock", "PromoCode")</li>
                  }

                  <li class="nav-header">User Management</li>
                  @if (Convert.ToBoolean(ViewData["IsAdmin"]))
                  {
                     <li><a href="@(ViewData["BaseUrl"] + "/admin/#security")" class="navbar-brand">Grant access admin</a></li>
                  }
                  <li>@Html.MenuLink("Accounts Management", "Index", "AccountsManagement")</li>
                  <li>@Html.MenuLink("BlackList", "Index", "BlackList")</li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin/#signup")" class="navbar-brand">Signup</a></li>


                  <li class="nav-header">Test Notifications</li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin/#sendpushnotification")" class="navbar-brand">Send Push</a></li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin/#sendtestemail")" class="navbar-brand">Send Test Email</a></li>

                  <li class="nav-header">Export</li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin/#exportaccounts")" class="navbar-brand">Accounts</a></li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin/#exportorders")" class="navbar-brand">Orders</a></li>
                  <li><a href="@(ViewData["BaseUrl"] + "/admin/#exportpromotions")" class="navbar-brand">Promotions</a></li>

                  <li class="nav-header">Version</li>
                  <li>@ViewData["version"]</li>
               </ul>
            </div>
         </div>
         <div id='main' class='span9'>
            @RenderBody()
         </div>
      </div>
   </div>

   <div class='modal-zone'></div>

   @RenderSection("ModalDialogSection", false)
}

   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/admin/bundles/assets")
</body>
</html>