@model CustomerPortal.Web.Areas.Admin.Models.FileModel

<style>
    #assets {
        width: 680px;
        overflow: hidden;
    }

    #assets td { padding: 10px; }

    .btn-delete {
        position: relative;
        margin-top: 3px;
        padding-left: 25px;
    }

    #upload-controls-container {
        margin-top: 40px;
        background-color: ghostwhite;
        border-top: 1px grey solid;
    }

    #upload-controls-container input { margin: 20px; }
</style>


    @using (Html.BeginForm("DeleteSelected", "Settings", FormMethod.Post))
    {
        @Html.Hidden("id", Model.Company.Id);
        @Html.Hidden("type", "webtheme");
        <table id="assets">
            @foreach (var path in Model.Files)
            {
                <tr>
                    <td>
                        <a href='@Url.Action("Image", new { id = Model.Company.Id, filename = path, type = "webtheme" })'>@Path.GetFileName(path)</a>
                    </td>
                    <td>
                        <input type="checkbox" name="path" id="path" class="pull-right" value="@path" />

                    </td>
                </tr>
            }
            <tr><td></td><td><input type="submit" class="btn btn-danger btn-mini pull-right" value="Delete selected" onclick=" return DeleteConfirm() " /></td></tr>
        </table>

    }
    <div id="upload-controls-container">
        @using (Html.BeginForm("Assets", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("id", Model.Company.Id);
            @Html.Hidden("type", "webtheme");
            <input type="file" name="files" multiple />
            <input type="submit" class="btn btn-primary" value="Upload File(s)" />                       
            <a href="@Url.Action("InitWebTheme", new { id = Model.Company.Id })" class="btn">Init with defaults</a>
        }
    </div>


<script type="text/javascript">
    function DeleteConfirm() {

        if (confirm("Are you sure you want to delete this file?"))
            return true;
        else
            return false;
    }
</script>